<template>
  <v-container>
    <v-layout align-center justify-center row wrap>
      <v-card elevation="10" width="1100">
        <v-app-bar flat dark color="purple">
          <v-toolbar-title>FORMULARIO DE REGISTRO</v-toolbar-title>
          <v-spacer />
          <v-progress-circular
            :rotate="360"
            :size="62"
            :width="10"
            :value="value"
            color="amber darken-2"
          >
            {{ Math.ceil(value) + "%" }}
          </v-progress-circular>
        </v-app-bar>
        <v-card-text>
          <v-stepper v-model="e">
            <v-stepper-header>
              <v-stepper-step
                color="purple lighten-2"
                :complete="e > 1"
                step="1"
                >Datos personales</v-stepper-step
              >
              <v-divider></v-divider>
              <v-stepper-step
                color="purple lighten-2"
                :complete="e > 2"
                step="2"
                >Datos de la empresa</v-stepper-step
              >
              <v-divider></v-divider>
              <v-stepper-step color="purple lighten-2" step="3"
                >Productos</v-stepper-step
              >
            </v-stepper-header>
            <v-stepper-items>
              <v-stepper-content step="1">
                <personal @avanzar="avanzar(1)" />
              </v-stepper-content>
              <v-stepper-content step="2">
                <laboral @avanzar="avanzar(2)" @retroceder="retroceder" />
              </v-stepper-content>
              <v-stepper-content step="3">
                <productos @reiniciar="reiniciar" @retroceder="retroceder" />
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-card-text>
      </v-card>
    </v-layout>
  </v-container>
</template>
<script>
import personal from "./datos/personal";
import laboral from "./datos/laboral";
import productos from "./datos/productos";
export default {
  name: "forms",
  components: {
    personal,
    laboral,
    productos
  },
  data() {
    return {
      e: 1,
      value: 0
    };
  },
  methods: {
    avanzar(t) {
      this.e++;
      this.value = 33.3333 * t;
    },
    reiniciar(){
      this.e = 1;
    },
    retroceder() {
      this.e--;
      this.value -= 33.3333;
    }
  }
};
</script>
