<template>
  <v-card class="mb-12" color="grey lighten-2" height="auto" ref="form2">
    <v-card-text>
      <v-layout row wrap justify-space-around align-content-start>
        <v-flex xs12 md5>
          <v-text-field
            label="Razón Social"
            v-model="form2.razonSocial"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresRazonSocial"
            @blur="$v.form2.razonSocial.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-text-field
            label="Nombre comercial"
            v-model="form2.nombreComercial"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresNombreComercial"
            @blur="$v.form2.nombreComercial.$touch()"
          />
        </v-flex>
        <v-flex xs12 md3>
          <v-text-field
            label="NIT"
            v-model="form2.nit"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresNit"
            @blur="$v.form2.nit.$touch()"
          />
        </v-flex>
        <v-flex xs12 md1>
          <v-select
            label="DV"
            v-model="form2.dv"
            attach
            :items="dvs"
            color="amber darken-3"
            :error-messages="erroresDV"
            @blur="$v.form2.dv.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <label class="control-label">Tipo de contribuyente</label>
          <v-radio-group
            v-model="form2.contribuyente"
            ref="contribuyente"
            row
            :error-messages="erroresContribuyente"
            @blur="$v.form2.contribuyente.$touch()"
          >
            <v-radio
              label="Persona natural"
              color="teal"
              value="Persona natural"
            />
            <v-radio
              label="Persona jurídica"
              color="teal"
              value="Persona jurídica"
            />
          </v-radio-group>
        </v-flex>
        <v-flex xs12 md5>
          <v-autocomplete
            prepend-inner-icon="mdi-map-marker"
            v-model="form2.ciudad"
            ref="place"
            :items="ciudades"
            label="Ciudad"
            :error-messages="erroresCiudad"
            @blur="$v.form2.ciudad.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-text-field
            label="Direccion principal"
            v-model="form2.direccion"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresDireccion"
            @blur="$v.form2.direccion.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-text-field
            label="Correo electrónico"
            v-model="form2.correo"
            prepend-inner-icon="mdi-at"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresCorreo"
            @blur="$v.form2.correo.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-text-field
            label="Teléfono fijo"
            v-model="form2.telefonoFijo"
            prepend-inner-icon="mdi-phone"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresTelefonoFijo"
            @blur="$v.form2.telefonoFijo.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-text-field
            label="Telefono celular"
            v-model="form2.telefonoCelular"
            prepend-inner-icon="mdi-cellphone"
            outlined
            solo
            dense
            color="amber darken-3"
            :error-messages="erroresTelefonoCelular"
            @blur="$v.form2.telefonoCelular.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-autocomplete
            v-model="form2.actividadPrincipal"
            ref="place"
            :items="actividades"
            label="Actividad económica principal"
            :error-messages="erroresAP"
            @blur="$v.form2.actividadPrincipal.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5>
          <v-autocomplete
            v-model="form2.actividadSecundaria"
            ref="place"
            :items="actividades"
            label="Actividad económica secundaria"
            :error-messages="erroresAS"
            @blur="$v.form2.actividadSecundaria.$touch()"
          />
        </v-flex>
        <v-flex xs12 md5></v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn
          fab
          color="purple lighten-2"
          @click.native="retroceder"
      >
        <v-icon color="white">mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer />
      <v-btn
        fab
        color="purple lighten-2"
        :disabled="$v.form2.$invalid"
        @click.native="avanzar"
      >
        <v-icon color="white">mdi-check</v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import {
  required,
  minLength,
  maxLength,
  numeric,
  email
} from "vuelidate/lib/validators";
export default {
  name: "laboral",
  data: function() {
    return {
      form2: {
        razonSocial: "",
        nombreComercial: "",
        nit: "",
        dv: "",
        contribuyente: "",
        ciudad: "",
        direccion: "",
        correo: "",
        telefonoFijo: "",
        telefonoCelular: "",
        actividadPrincipal: "",
        actividadSecundaria: ""
      },
      dvs: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      actividades: [
        "1011-Procesamiento y conservación de carne y productos cárnicos",
        "1012-Procesamiento y conservación de pescados",
        "1030-Elaboración de aceites y grasas de origen vegetal y animal",
        "1051-Elaboración de productos de molinería",
        "1052-Elaboración de almidones y productos derivados del almidón",
        "1062-Descafeinado",
        "1063-Elaboración de otros derivados del café",
        "1071-Elaboración y refinación de azúcar",
        "1072-Elaboración de panela",
        "1081-Elaboración de productos de panadería",
        "1082-Elaboración de cacao",
        "1083-Elaboración de macarrones",
        "1084-Elaboración de comidas y platos preparados",
        "1089-Elaboración de otros productos alimenticios n.c.p.",
        "1090-Elaboración de alimentos preparados para animales",
        "1410-Confección de prendas de vestir",
        "1521-Fabricación de calzado de cuero y piel",
        "1522-Fabricación de otros tipos de calzado",
        "10201-Procesamiento y conservación de frutas",
        "10401-Elaboración de productos lácteos (excepto bebidas)",
        "14201-Fabricación de prendas de vestir de piel",
        "14301-Fabricación de prendas de vestir  de punto y ganchillo",
        "58113-Edición y publicación de libros (Tarifa especial para los contribuyentes que cumplen condiciones del Acuerdo 98 de 2003)",
        "2410-Industrias básicas de hierro y de acero",
        "2431-Fundición de hierro y de acero",
        "2432-Fundición de metales no ferrosos",
        "2910-Fabricación de vehículos automotores y sus motores",
        "2920-Fabricación de carrocerías para vehículos automotores; fabricación de remolques y semirremolques",
        "2930-Fabricación de partes",
        "3011-Construcción de barcos y de estructuras flotantes",
        "3012-Construcción de embarcaciones de recreo y deporte",
        "3020-Fabricación de locomotoras y de material rodante para ferrocarriles",
        "3030-Fabricación de aeronaves",
        "3040-Fabricación de vehículos militares de combate",
        "3091-Fabricación de motocicletas",
        "3092-Fabricación de bicicletas y de sillas de ruedas para personas con discapacidad",
        "3099-Fabricación de otros tipos de equipo de transporte n.c.p.",
        "510-Extracción de hulla (carbón de piedra)",
        "520-Extracción de carbón lignito",
        "610-Extracción de petróleo crudo",
        "620-Extracción de gas natural",
        "710-Extracción de minerales de hierro",
        "721-Extracción de minerales de uranio y de torio",
        "722-Extracción de oro y otros metales preciosos",
        "723-Extracción de minerales de níquel",
        "729-Extracción de otros minerales metalíferos no ferrosos n.c.p.",
        "811-Extracción de piedra",
        "812-Extracción de arcillas de uso industrial",
        "820-Extracción de esmeraldas",
        "891-Extracción de minerales para la fabricación de abonos y productos químicos",
        "892-Extracción de halita (sal)",
        "899-Extracción de otros minerales no metálicos n.c.p.",
        "1101-Destilación",
        "1102-Elaboración de bebidas fermentadas no destiladas",
        "1103-Producción de malta",
        "1104-Elaboración de bebidas no alcohólicas",
        "1200-Elaboración de productos de tabaco",
        "1311-Preparación e hilatura de fibras textiles",
        "1312-Tejeduría de productos textiles",
        "1313-Acabado de productos textiles",
        "1391-Fabricación de tejidos de punto y ganchillo",
        "1392-Confección de artículos con materiales textiles",
        "1393-Fabricación de tapetes y alfombras para pisos",
        "1394-Fabricación de cuerdas",
        "1399-Fabricación de otros artículos textiles n.c.p.",
        "1511-Curtido y recurtido de cueros; recurtido y teñido de pieles.",
        "1512-Fabricación de artículos de viaje",
        "1513-Fabricación de artículos de viaje",
        "bolsos de mano y artículos similares; artículos de talabartería y guarnicionería elaborados en otros materiales",
        "1523-Fabricación de partes del calzado",
        "1610-Aserrado",
        "1620-Fabricación de hojas de madera para enchapado; fabricación de tableros contrachapados",
        "1630-Fabricación de partes y piezas de madera",
        "1640-Fabricación de recipientes de madera",
        "1690-Fabricación de otros productos de madera; fabricación de artículos de corcho",
        "1701-Fabricación de pulpas (pastas) celulósicas; papel y cartón",
        "1702-Fabricación de papel y cartón ondulado (corrugado); fabricación de envases",
        "1709-Fabricación de otros artículos de papel y cartón",
        "1910-Fabricación de productos de hornos de coque",
        "1921-Fabricación de productos de la refinación del petróleo",
        "1922-Actividad de mezcla de combustibles",
        "2011-Fabricación de sustancias y productos químicos básicos",
        "2012-Fabricación de abonos y compuestos inorgánicos nitrogenados",
        "2013-Fabricación de plásticos en formas primarias",
        "2014-Fabricación de caucho sintético en formas primarias",
        "2021-Fabricación de plaguicidas y otros productos químicos de uso agropecuario",
        "2022-Fabricación de pinturas",
        "2023-Fabricación de jabones y detergentes",
        "2029-Fabricación de otros productos químicos n.c.p.",
        "2030-Fabricación de fibras sintéticas y artificiales",
        "2100-Fabricación de productos farmacéuticos",
        "2211-Fabricación de llantas y neumáticos de caucho",
        "2212-Reencauche de llantas usadas",
        "2219-Fabricación de formas básicas de caucho y otros productos de caucho n.c.p.",
        "2219-Fabricación de formas básicas de caucho y otros productos de caucho n.c.p.",
        "2221-Fabricación de formas básicas de plástico",
        "2229-Fabricación de artículos de plástico n.c.p.",
        "2310-Fabricación de vidrio y productos de vidrio",
        "2391-Fabricación de productos refractarios",
        "2392-Fabricación de materiales de arcilla para la construcción",
        "2393-Fabricación de otros productos de cerámica y porcelana",
        "2394-Fabricación de cemento",
        "2395-Fabricación de artículos de hormigón",
        "2396-Corte",
        "2399-Fabricación de otros productos minerales no metálicos n.c.p.",
        "2421-Industrias básicas de metales preciosos",
        "2429-Industrias básicas de otros metales no ferrosos",
        "2511-Fabricación de productos metálicos para uso estructural",
        "2512-Fabricación de tanques",
        "2513-Fabricación de generadores de vapor",
        "2520-Fabricación de armas y municiones",
        "2591-Forja",
        "2593-Fabricación de artículos de cuchillería",
        "2599-Fabricación de otros productos elaborados de metal n.c.p.",
        "2610-Fabricación de componentes y tableros electrónicos",
        "2620-Fabricación de computadoras y de equipo periférico",
        "2630-Fabricación de equipos de comunicación",
        "2640-Fabricación de aparatos electrónicos de consumo",
        "2651-Fabricación de equipo de medición",
        "2652-Fabricación de relojes",
        "2660-Fabricación de equipo de irradiación y equipo electrónico de uso médico y terapéutico",
        "2670-Fabricación de instrumentos ópticos y equipo fotográfico",
        "2680-Fabricación de soportes magnéticos y ópticos",
        "2711-Fabricación de motores",
        "2712-Fabricación de aparatos de distribución y control de la energía eléctrica",
        "2720-Fabricación de pilas",
        "2731-Fabricación de hilos y cables eléctricos y de fibra óptica",
        "2732-Fabricación de dispositivos de cableado",
        "2740-Fabricación de equipos eléctricos de iluminación",
        "2750-Fabricación de aparatos de uso domestico",
        "2790-Fabricación de otros tipos de equipo eléctrico n.c.p.",
        "2811-Fabricación de motores",
        "2812-Fabricación de equipos de potencia hidráulica y neumática",
        "2813-Fabricación de otras bombas",
        "2814-Fabricación de cojinetes",
        "2815-Fabricación de hornos",
        "2816-Fabricación de equipo de elevación y manipulación",
        "2817-Fabricación de maquinaria y equipo de oficina (excepto computadoras y equipo periférico)",
        "2818-Fabricación de herramientas manuales con motor",
        "2819-Fabricación de otros tipos de maquinaria y equipo de uso general n.c.p.",
        "2821-Fabricación de maquinaria agropecuaria y forestal",
        "2822-Fabricación de máquinas formadoras de metal y de máquinas herramienta",
        "2823-Fabricación de maquinaria para la metalurgia",
        "2824-Fabricación de maquinaria para explotación de minas y canteras y para obras de construcción",
        "2825-Fabricación de maquinaria para la elaboración de alimentos",
        "2826-Fabricación de maquinaria para la elaboración de productos textiles",
        "2829-Fabricación de otros tipos de maquinaria y equipo de uso especial n.c.p.",
        "3110-Fabricación de muebles",
        "3120-Fabricación de colchones y somieres",
        "3210-Fabricación de joyas",
        "3220-Fabricación de instrumentos musicales",
        "3240-Fabricación de juegos",
        "3250-Fabricación de instrumentos",
        "3290-Otras industrias manufactureras n.c.p.",
        "3511-Generación de energía eléctrica",
        "3512-Transmisión de energía eléctrica",
        "3821-Tratamiento y disposición de desechos no peligrosos",
        "3822-Tratamiento y disposición de desechos peligrosos",
        "3830-Recuperación de materiales",
        "5812-Edición de directorios y listas de correo",
        "5819-Otros trabajos de edición",
        "5820-Edición de programas de informática (software)",
        "5911-Actividades de producción de películas cinematográficas",
        "5912-Actividades de postproducción de películas cinematográficas",
        "5920-Actividades de grabación de sonido y edición de música",
        "10202-Elaboración de jugos de frutas",
        "10402-Elaboración de bebidas lácteas",
        "14202-Fabricación de artículos de piel (excepto prendas de vestir)",
        "14302-Fabricación de artículos de punto y ganchillo (excepto prendas de vestir)",
        "3230-Fabricación de artículos y equipo para la práctica del deporte   (excepto prendas de vestir y calzado)",
        "35201-Producción de gas",
        "36001-Captación y tratamiento de agua",
        "58112-Edición y publicación de libros",
        "4631-Comercio al por mayor de productos alimenticios",
        "4721-Comercio al por menor de productos agrícolas para el consumo en establecimientos especializados",
        "4722-Comercio al por menor de leche",
        "4723-Comercio al por menor de carnes (incluye aves de corral)",
        "4729-Comercio al por menor de otros productos alimenticios n.c.p.",
        "46201-Comercio al por mayor de materias primas agrícolas en bruto (alimentos)",
        "46451-Comercio al por mayor de productos farmacéuticos y medicinales",
        "47111-Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente por alimentos",
        "47192-Comercio al por menor en establecimientos no especializados",
        "47611-Comercio al por menor y al por mayor  de libros",
        "47731-Comercio al por menor de productos farmacéuticos y medicinales en establecimientos especializados",
        "47811-Comercio al por menor de alimentos en puestos de venta móviles",
        "47911-Comercio al por menor de alimentos y productos agrícolas en bruto; venta de textos escolares y libros (incluye cuadernos escolares); venta de drogas y medicamentos realizado a través de internet",
        "47921-Comercio al por menor de alimentos y productos agrícolas en bruto; venta de textos escolares y libros (incluye cuadernos escolares); venta de drogas y medicamentos realizado a través de casas de venta o por correo",
        "47991-Otros tipos de comercio al por menor no realizado en establecimientos",
        "4511-Comercio de vehículos automotores nuevos",
        "4512-Comercio de vehículos automotores usados",
        "45411-Comercio de motocicletas",
        "46631-Comercio al por mayor de materiales de construcción",
        "47521-Comercio al por menor de materiales de construcción",
        "47912-Comercio al por menor y al por mayor de madera y materiales para construcción; venta de automotores (incluidas motocicletas)  realizado a través de internet",
        "47922-Comercio al por menor y al por mayor de madera y materiales para construcción; venta de automotores (incluidas motocicletas)  realizado a través de casas de venta o por correo",
        "47992-Otros tipos de comercio al por menor no realizado en establecimientos",
        "4731-Comercio al por menor de combustible para automotores",
        "46322-Comercio al por mayor de licores y cigarrillos",
        "46492-Venta de joyas",
        "46612-Comercio al por mayor de combustibles  derivados del petróleo",
        "47112-Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente  por licores y cigarrillos",
        "47242-Comercio al por menor de licores y cigarrillos",
        "47813-Comercio al por menor de cigarrillos y licores en puestos de venta móviles",
        "47913-Comercio al por menor de cigarrillos y licores; venta de combustibles derivados del petróleo y venta de joyas  realizado a través de internet",
        "47923-Comercio al por menor de cigarrillos y licores; venta de combustibles derivados del petróleo y venta de joyas  realizado a través de casas de venta o por correo",
        "47993-Otros tipos de comercio al por menor no realizado en establecimientos",
        "3514-Comercialización de energía eléctrica",
        "4530-Comercio de partes",
        "4641-Comercio al por mayor de productos textiles y productos confeccionados para uso doméstico",
        "4642-Comercio al por mayor de prendas de vestir",
        "4643-Comercio al por mayor de calzado",
        "4644-Comercio al por mayor de aparatos y equipo de uso doméstico",
        "4651-Comercio al por mayor de computadores",
        "4652-Comercio al por mayor de equipo",
        "partes y piezas electrónicos y de telecomunicaciones",
        "4653-Comercio al por mayor de maquinaria y equipo agropecuarios",
        "4659-Comercio al por mayor de otros tipos de maquinaria y equipo n.c.p.",
        "4662-Comercio al por mayor de metales y productos metalíferos",
        "4664-Comercio al por mayor de productos químicos básicos",
        "4665-Comercio al por mayor de desperdicios",
        "desechos y chatarra",
        "4669-Comercio al por mayor de otros productos n.c.p.",
        "4690-Comercio al por mayor no especializado",
        "4732-Comercio al por menor de lubricantes (aceites",
        "grasas)",
        "aditivos y productos de limpieza para vehículos automotores",
        "4741-Comercio al por menor de computadores",
        "equipos periféricos",
        "programas de informática y equipos de telecomunicaciones en establecimientos especializados",
        "4742-Comercio al por menor de equipos y aparatos de sonido y de video",
        "en establecimientos especializados",
        "4751-Comercio al por menor de productos textiles en establecimientos especializados",
        "4753-Comercio al por menor de tapices",
        "alfombras y cubrimientos para paredes y pisos en establecimientos especializados.",
        "4754-Comercio al por menor de electrodomésticos y gasodomesticos de uso doméstico",
        "muebles y equipos de iluminación",
        "4755-Comercio al por menor de artículos y utensilios de uso domestico",
        "4759-Comercio al por menor de otros artículos domésticos en establecimientos especializados",
        "4762-Comercio al por menor de artículos deportivos",
        "en establecimientos especializados",
        "4769-Comercio al por menor de otros artículos culturales y de entretenimiento n.c.p. en establecimientos especializados",
        "4771-Comercio al por menor de prendas de vestir y sus accesorios (incluye artículos de piel) en establecimientos especializados",
        "4772-Comercio al por menor de todo tipo de calzado y artículos de cuero y sucedáneos del cuero en establecimientos especializados.",
        "4774-Comercio al por menor de otros productos nuevos en establecimientos especializados",
        "4775-Comercio al por menor de artículos de segunda mano",
        "4782-Comercio al por menor de productos textiles",
        "prendas de vestir y calzado",
        "en puestos de venta móviles",
        "4789-Comercio al por menor de otros productos en puestos de venta móviles",
        "45412-Comercio de partes",
        "piezas y accesorios de motocicletas",
        "46202-Comercio al por mayor de materias primas pecuarias y animales vivos",
        "46321-Comercio al por mayor de bebidas y tabaco (diferentes a licores y cigarrillos)",
        "46452-Comercio al por mayor de productos cosméticos y de tocador (excepto productos farmacéuticos y medicinales)",
        "46491-Comercio al por mayor de otros utensilios domésticos n.c.p. (excepto joyas)",
        "46611-Comercio al por mayor de combustibles sólidos",
        "líquidos",
        "gaseosos y productos conexos (excepto combustibles derivados del petróleo)",
        "46632-Comercio al por mayor de  artículos de ferretería",
        "pinturas",
        "productos de vidrio",
        "equipo y materiales de fontanería y calefacción",
        "47191-Comercio al por menor en establecimientos no especializados con surtido compuesto principalmente por productos diferentes de alimentos (víveres en general) y bebidas y tabaco (excepto drogas",
        "medicamentos",
        "textos escolares",
        "libros y cuadernos.)",
        "47241-Comercio al por menor de bebidas y productos del tabaco",
        "en establecimientos especializados  (excepto licores y cigarrillos)",
        "47522-Comercio al por menor de artículos de ferretería",
        "pinturas y productos de vidrio en establecimientos especializados (excepto materiales de construcción)",
        "47612-Comercio al por menor de periódicos",
        "materiales y artículos de papelería y escritorio",
        "en establecimientos especializados (excepto libros",
        "textos escolares y cuadernos)",
        "47732-Comercio al por menor de productos cosméticos y artículos de tocador en establecimientos especializados (excepto productos  farmacéuticos y medicinales)",
        "47812-Comercio al por menor de  bebidas y tabaco en puestos de venta móviles (excepto licores y cigarrillos)",
        "47914-Comercio al por menor de demás productos n.c.p.  realizado a través de internet",
        "47924-Comercio al por menor de demás productos n.c.p.  realizado a través de casas de venta o por correo",
        "47994-Otros tipos de comercio al por menor no realizado en establecimientos",
        "puestos de venta o mercados de demás productos n.c.p.",
        "64992-Actividades comerciales de las casas de empeño o compraventa",
        "4911-Transporte férreo de pasajeros",
        "4912-Transporte férreo de carga",
        "4921-Transporte de pasajeros",
        "4922-Transporte mixto",
        "4923-Transporte de carga por carretera",
        "4930-Transporte por tuberías",
        "5011-Transporte de pasajeros marítimo y de cabotaje",
        "5012-Transporte de carga marítimo y de cabotaje",
        "5021-Transporte fluvial de pasajeros",
        "5022-Transporte fluvial de carga",
        "5111-Transporte aéreo nacional de pasajeros",
        "5112-Transporte aéreo internacional de pasajeros",
        "5121-Transporte aéreo nacional de carga",
        "5122-Transporte aéreo internacional de carga",
        "5222-Actividades de puertos y servicios complementarios para el transporte acuático",
        "5813-Edición de periódicos",
        "revistas y otras publicaciones periódicas",
        "6010-Actividades de programación y transmisión en el servicio de radiodifusión sonora",
        "58111-Servicio de edición de libros",
        "60201-Actividades de programación de televisión",
        "4111-Construcción de edificios residenciales",
        "4112-Construcción de edificios no residenciales",
        "4210-Construcción de carreteras y vías de ferrocarril",
        "4220-Construcción de proyectos de servicio público",
        "4290-Construcción de otras obras de ingeniería civil",
        "4311-Demolición",
        "4312-Preparación del terreno",
        "4321-Instalaciones eléctricas de la construcción",
        "4322-Instalaciones de fontanería",
        "calefacción y aire acondicionado de la construcción",
        "4329-Otras instalaciones especializadas de la construcción",
        "4330-Terminación y acabado de edificios y obras de ingeniería civil",
        "4390-Otras actividades especializadas para la construcción de edificios y obras de ingeniería civil",
        "5914-Actividades de exhibición de películas cinematográficas y videos",
        "6202-Actividades de consultoría informática y actividades de administración de instalaciones informáticas",
        "39002-Actividades de saneamiento ambiental y otros servicios de gestión de desechos prestados por contratistas de construcción",
        "constructores y urbanizadores",
        "69101-Actividades jurídicas como consultoría profesional",
        "69201-Actividades de contabilidad",
        "teneduría de libros",
        "auditoría financiera y asesoría tributaria como consultoría profesional",
        "70101-Actividades de administración empresarial como consultoría profesional",
        "70201-Actividades de consultoría de gestión",
        "71101-Actividades de arquitectura e ingeniería y otras actividades conexas de consultoría técnica",
        "71201-Ensayos y análisis técnicos como consultoría profesional",
        "72101-Investigaciones y desarrollo experimental en el campo de las ciencias naturales y la ingeniería  como consultoría profesional",
        "72201-Investigaciones y desarrollo experimental en el campo de las ciencias sociales y las humanidades  como consultoría profesional",
        "73201-Estudios de mercado y realización de encuestas de opinión pública como consultoría profesional",
        "74101-Actividades especializadas de diseño como consultoría profesional",
        "74901-Otras actividades profesionales",
        "científicas y técnicas n.c.p. como consultoría profesional (incluye actividades de periodistas)",
        "5511-Alojamiento en hoteles",
        "5512-Alojamiento en aparta-hoteles",
        "5513-Alojamiento en centros vacacionales",
        "5514-Alojamiento rural",
        "5519-Otros tipos de alojamientos para visitantes",
        "5520-Actividades de zonas de camping y parques para vehículos recreacionales",
        "5530-Servicio por horas  de alojamiento",
        "5590-Otros tipos de alojamiento n.c.p.",
        "5611-Expendio a la mesa de comidas preparadas",
        "5612-Expendio por autoservicio de comidas preparadas",
        "5613-Expendio de comidas preparadas en cafeterías",
        "5619-Otros tipos de expendio de comidas preparadas n.c.p.",
        "5621-Catering para eventos",
        "5629-Actividades de otros servicios de comidas",
        "5630-Expendio de bebidas alcohólicas para el consumo dentro del establecimiento",
        "8010-Actividades de seguridad privada",
        "8020-Actividades de servicios de sistemas de seguridad",
        "8030-Actividades de detectives e investigadores privados",
        "64993-Servicios de las casas de empeño o compraventas",
        "161-Actividades de apoyo a la agricultura",
        "162-Actividades de apoyo a la ganadería",
        "164-Tratamiento de semillas para propagación",
        "240-Servicios de apoyo a la silvicultura",
        "910-Actividades de apoyo para la extracción de petróleo y de gas natural",
        "990-Actividades de apoyo para otras actividades de explotación de minas y canteras",
        "1061-Trilla de café",
        "1811-Actividades de impresión",
        "1812-Actividades de servicios relacionados con la impresión",
        "1820-Producción de copias a partir de grabaciones originales",
        "2592-Tratamiento y revestimiento de metales; mecanizado",
        "3311-Mantenimiento y reparación especializado de productos elaborados en metal",
        "3312-Mantenimiento y reparación especializado de maquinaria y equipo",
        "3313-Mantenimiento y reparación especializado de equipo electrónico y óptico",
        "3314-Mantenimiento y reparación especializado de equipo eléctrico",
        "3315-Mantenimiento y reparación especializado de equipo de transporte",
        "excepto los vehículos automotores",
        "motocicletas y bicicletas",
        "3319-Mantenimiento y reparación de otros tipos de equipos y sus componentes n.c.p.",
        "3320-Instalación especializada de maquinaria y equipo industrial",
        "3513-Distribución de energía eléctrica",
        "3530-Suministro de vapor y aire acondicionado",
        "3700-Evacuación y tratamiento de aguas residuales",
        "3811-Recolección de desechos no peligrosos",
        "3812-Recolección de desechos peligrosos",
        "4520-Mantenimiento y reparación de vehículos automotores.",
        "4542-Mantenimiento y reparación de motocicletas y de sus partes y piezas",
        "4610-Comercio al por mayor a cambio de una retribución o por contrata",
        "5210-Almacenamiento y depósito",
        "5221-Actividades de estaciones",
        "vías y servicios complementarios para el transporte terrestre",
        "5223-Actividades de aeropuertos",
        "servicios de navegación aérea y demás actividades conexas al transporte aéreo",
        "5224-Manipulación de carga",
        "5229-Otras actividades complementarias al transporte",
        "5310-Actividades postales nacionales",
        "5320-Actividades de mensajería",
        "5913-Actividades de distribución de películas cinematográficas",
        "videos",
        "programas",
        "anuncios y comerciales de televisión",
        "6110-Actividades de telecomunicaciones alámbricas",
        "6120-Actividades de telecomunicaciones inalámbricas",
        "6130-Actividades de telecomunicación satelital",
        "6190-Otras actividades de telecomunicaciones",
        "6201-Actividades de desarrollo de sistemas informáticos (planificación",
        "análisis",
        "diseño",
        "programación",
        "pruebas)",
        "6209-Otras actividades de tecnologías de información y actividades de servicios informáticos",
        "6311-Procesamiento de datos",
        "alojamiento (hosting) y actividades relacionadas",
        "6312-Portales Web",
        "6391-Actividades de agencias de noticias",
        "6399-Otras actividades de servicio de información n.c.p.",
        "6612-Corretaje de valores y de contratos de productos básicos",
        "6613-Otras actividades relacionadas con el mercado de valores",
        "6629-Evaluación de riesgos y daños",
        "y otras actividades de servicios auxiliares",
        "66112-Actividades de las bolsas de valores",
        "6810-Actividades inmobiliarias realizadas con bienes propios o arrendados",
        "6820-Actividades inmobiliarias realizadas a cambio de una retribución o por contrata",
        "7310-Publicidad",
        "7420-Actividades de fotografía",
        "7500-Actividades veterinarias",
        "7710-Alquiler y arrendamiento de vehículos automotores",
        "7721-Alquiler y arrendamiento de equipo recreativo y deportivo",
        "7722-Alquiler de videos y discos",
        "7729-Alquiler y arrendamiento de otros efectos personales y enseres domésticos n.c.p.",
        "7730-Alquiler y arrendamiento de otros tipos de maquinaria",
        "equipo y bienes tangibles n.c.p.",
        "7740-Arrendamiento de propiedad intelectual y productos similares",
        "excepto obras protegidas por derechos de autor",
        "7810-Actividades de agencias de empleo",
        "7820-Actividades de agencias de empleo temporal",
        "7830-Otras actividades de suministro de recurso humano",
        "7911-Actividades de las agencias de viaje",
        "7912-Actividades de operadores turísticos",
        "7990-Otros servicios de reserva y actividades relacionadas",
        "8110-Actividades combinadas de apoyo a instalaciones",
        "8121-Limpieza general interior de edificios",
        "8129-Otras actividades de limpieza de edificios e instalaciones industriales",
        "8130-Actividades de paisajismo y servicios de mantenimiento conexos",
        "8211-Actividades combinadas de servicios administrativos de oficina",
        "8219-Fotocopiado",
        "preparación de documentos y otras actividades especializadas de apoyo a oficina",
        "8220-Actividades de centros de llamadas (Call center)",
        "8230-Organización de convenciones y eventos comerciales",
        "8291-Actividades de agencias de cobranza y oficinas de calificación crediticia",
        "8292-Actividades de envase y empaque",
        "8299-Otras actividades de servicio de apoyo a las empresas n.c.p.",
        "8541-Educación técnica profesional",
        "8542-Educación tecnológica",
        "8543-Educación de instituciones universitarias o de escuelas tecnológicas",
        "8544-Educación de universidades",
        "8552-Enseñanza deportiva y recreativa",
        "8553-Enseñanza cultural",
        "8559-Otros tipos de educación n.c.p.",
        "8560-Actividades de apoyo a la educación",
        "8610-Actividades de hospitales y clínicas",
        "con internación",
        "8720-Actividades de atención residencial",
        "para el cuidado de pacientes con retardo mental",
        "enfermedad mental y consumo de sustancias psicoactivas",
        "8730-Actividades de atención en instituciones para el cuidado de personas mayores y/o discapacitadas",
        "8790-Otras actividades de atención en instituciones con alojamiento",
        "8810-Actividades de asistencia social sin alojamiento para personas mayores y discapacitadas",
        "8890-Otras actividades de asistencia social sin alojamiento",
        "9321-Actividades de parques de atracciones y parques temáticos",
        "9511-Mantenimiento y reparación de computadores y de equipo periférico",
        "9512-Mantenimiento y reparación de equipos de comunicación",
        "9521-Mantenimiento y reparación de aparatos electrónicos de consumo",
        "9522-Mantenimiento y reparación de aparatos domésticos y equipos domésticos y de jardinería",
        "9523-Reparación de calzado y artículos de cuero",
        "9524-Reparación de muebles y accesorios para el hogar",
        "9529-Mantenimiento y reparación de otros efectos personales y enseres domésticos",
        "9601-Lavado y limpieza",
        "incluso la limpieza en seco",
        "de productos textiles y de piel",
        "9602-Peluquería y otros tratamientos de belleza",
        "9603-Pompas fúnebres y actividades relacionadas",
        "9609-Otras actividades de servicios personales n.c.p.",
        "35202-Distribución de combustibles gaseosos por tuberías ",
        "36002-Distribución de agua",
        "39001-Actividades de saneamiento ambiental y otros servicios de gestión de desechos (excepto los servicios prestados por contratistas de construcción",
        "constructores y urbanizadores)",
        "60202-Actividades de transmisión de televisión",
        "69102-Actividades jurídicas en el ejercicio de una profesión liberal",
        "69202-Actividades de contabilidad",
        "teneduría de libros",
        "auditoría financiera y asesoría tributaria en el ejercicio de una profesión liberal",
        "70102-Actividades de administración empresarial en el ejercicio de una profesión liberal",
        "70202-Actividades de  gestión en el ejercicio de una profesión liberal",
        "71102-Actividades de arquitectura e ingeniería y otras actividades conexas en el ejercicio de una profesión liberal",
        "71202-Ensayos y análisis técnicos como consultoría profesional en el ejercicio de una profesión liberal",
        "72102-Investigaciones y desarrollo experimental en el campo de las ciencias naturales y la ingeniería  en el ejercicio de una profesión liberal",
        "72202-Investigaciones y desarrollo experimental en el campo de las ciencias sociales y las humanidades  en el ejercicio de una profesión liberal",
        "73202-Estudios de mercado y realización de encuestas de opinión pública en el ejercicio de una profesión liberal",
        "74102-Actividades especializadas de diseño en el ejercicio de una profesión liberal",
        "74902-Otras actividades profesionales",
        "científicas y técnicas n.c.p. en el ejercicio de una profesión liberal",
        "85232-Educación de formación laboral",
        "85511-Educación académica no formal (excepto programas de educación básica primaria",
        "básica secundaria y media no gradual con fines de validación)",
        "85512-Educación académica no formal impartida mediante programas de educación básica primaria",
        "básica secundaria y media no gradual con fines de validación",
        "86211-Actividades de la práctica médica",
        "sin internación (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "86221-Actividades de la práctica odontológica",
        "sin internación (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "86911-Actividades de apoyo diagnóstico (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "86921-Actividades de apoyo terapéutico (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "86991-Otras actividades de atención de la salud humana (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "87101-Actividades de atención residencial medicalizada de tipo general (excepto actividades de promoción y prevención que realicen las entidades e instituciones promotoras y prestadoras de servicios de salud de naturaleza pública o privada",
        "con recursos que provengan  del Sistema General  de Seguridad Social en  Salud.)",
        "92001-Actividades de juegos de destreza",
        "habilidad",
        "conocimiento y fuerza",
        "93291-Otras actividades recreativas y de esparcimiento n.c.p. (excepto juegos de suerte y azar",
        "discotecas y similares )",
        "9411-Actividades de asociaciones empresariales y de empleadores",
        "9499-Actividades de otras asociaciones n.c.p.",
        "8511-Educación de la primera infancia",
        "8512-Educación preescolar",
        "8513-Educación básica primaria",
        "8521-Educación básica secundaria",
        "8522-Educación media académica",
        "85231-Educación media técnica",
        "8530-Establecimientos que combinan diferentes niveles de educación inicial",
        "preescolar",
        "básica primaria",
        "básica secundaria y media",
        "6411-Banca Central",
        "6412-Bancos comerciales",
        "6421-Actividades de las corporaciones financieras",
        "6422-Actividades de las compañías de financiamiento",
        "6423-Banca de segundo piso",
        "6424-Actividades de las cooperativas financieras",
        "6431-Fideicomisos",
        "fondos y entidades financieras similares",
        "6491-Leasing financiero (arrendamiento financiero)",
        "6492-Actividades financieras de fondos de empleados y otras formas asociativas del sector solidario",
        "6493-Actividades de compra de cartera o factoring",
        "6494-Otras actividades de distribución de fondos",
        "6495-Instituciones especiales oficiales",
        "6511-Seguros generales",
        "6512-Seguros de vida",
        "6513-Reaseguros",
        "6514-Capitalización",
        "6521-Servicios de seguros sociales de salud",
        "6522-Servicios de seguros sociales de riesgos profesionales",
        "6532-Régimen de ahorro individual (RAI)",
        "6619-Otras actividades auxiliares de las actividades de servicios financieros n.c.p.",
        "6621-Actividades de agentes y corredores de seguros",
        "6630-Actividades de administración de fondos",
        "6614-Actividades de las casas de cambio",
        "6615-Actividades de los profesionales de compra y venta de divisas",
        "64991-Otras actividades de servicio financiero",
        "excepto las de seguros y pensiones n.c.p.",
        "66111-Administración de mercados financieros (excepto actividades de las bolsas de valores)"
      ],
      ciudades: [
        "ANTIOQUIA-MEDELLIN",
        "ANTIOQUIA-ABEJORRAL",
        "ANTIOQUIA-ABRIAQUI",
        "ANTIOQUIA-ALEJANDRIA",
        "ANTIOQUIA-AMAGA",
        "ANTIOQUIA-AMALFI",
        "ANTIOQUIA-ANDES",
        "ANTIOQUIA-ANGELOPOLIS",
        "ANTIOQUIA-ANGOSTURA",
        "ANTIOQUIA-ANORI",
        "ANTIOQUIA-SANTAFE DE ANTIOQUIA",
        "ANTIOQUIA-ANZA",
        "ANTIOQUIA-APARTADO",
        "ANTIOQUIA-ARBOLETES",
        "ANTIOQUIA-ARGELIA",
        "ANTIOQUIA-ARMENIA",
        "ANTIOQUIA-BARBOSA",
        "ANTIOQUIA-BELMIRA",
        "ANTIOQUIA-BELLO",
        "ANTIOQUIA-BETANIA",
        "ANTIOQUIA-BETULIA",
        "ANTIOQUIA-CIUDAD BOLIVAR",
        "ANTIOQUIA-BRICEÑO",
        "ANTIOQUIA-BURITICA",
        "ANTIOQUIA-CACERES",
        "ANTIOQUIA-CAICEDO",
        "ANTIOQUIA-CALDAS",
        "ANTIOQUIA-CAMPAMENTO",
        "ANTIOQUIA-CAÑASGORDAS",
        "ANTIOQUIA-CARACOLI",
        "ANTIOQUIA-CARAMANTA",
        "ANTIOQUIA-CAREPA",
        "ANTIOQUIA-EL CARMEN DE VIBORAL",
        "ANTIOQUIA-CAROLINA",
        "ANTIOQUIA-CAUCASIA",
        "ANTIOQUIA-CHIGORODO",
        "ANTIOQUIA-CISNEROS",
        "ANTIOQUIA-COCORNA",
        "ANTIOQUIA-CONCEPCION",
        "ANTIOQUIA-CONCORDIA",
        "ANTIOQUIA-COPACABANA",
        "ANTIOQUIA-DABEIBA",
        "ANTIOQUIA-DON MATIAS",
        "ANTIOQUIA-EBEJICO",
        "ANTIOQUIA-EL BAGRE",
        "ANTIOQUIA-ENTRERRIOS",
        "ANTIOQUIA-ENVIGADO",
        "ANTIOQUIA-FREDONIA",
        "ANTIOQUIA-FRONTINO",
        "ANTIOQUIA-GIRALDO",
        "ANTIOQUIA-GIRARDOTA",
        "ANTIOQUIA-GOMEZ PLATA",
        "ANTIOQUIA-GRANADA",
        "ANTIOQUIA-GUADALUPE",
        "ANTIOQUIA-GUARNE",
        "ANTIOQUIA-GUATAPE",
        "ANTIOQUIA-HELICONIA",
        "ANTIOQUIA-HISPANIA",
        "ANTIOQUIA-ITAGUI",
        "ANTIOQUIA-ITUANGO",
        "ANTIOQUIA-JARDIN",
        "ANTIOQUIA-JERICO",
        "ANTIOQUIA-LA CEJA",
        "ANTIOQUIA-LA ESTRELLA",
        "ANTIOQUIA-LA PINTADA",
        "ANTIOQUIA-LA UNION",
        "ANTIOQUIA-LIBORINA",
        "ANTIOQUIA-MACEO",
        "ANTIOQUIA-MARINILLA",
        "ANTIOQUIA-MONTEBELLO",
        "ANTIOQUIA-MURINDO",
        "ANTIOQUIA-MUTATA",
        "ANTIOQUIA-NARIÑO",
        "ANTIOQUIA-NECOCLI",
        "ANTIOQUIA-NECHI",
        "ANTIOQUIA-OLAYA",
        "ANTIOQUIA-PEÐOL",
        "ANTIOQUIA-PEQUE",
        "ANTIOQUIA-PUEBLORRICO",
        "ANTIOQUIA-PUERTO BERRIO",
        "ANTIOQUIA-PUERTO NARE",
        "ANTIOQUIA-PUERTO TRIUNFO",
        "ANTIOQUIA-REMEDIOS",
        "ANTIOQUIA-RETIRO",
        "ANTIOQUIA-RIONEGRO",
        "ANTIOQUIA-SABANALARGA",
        "ANTIOQUIA-SABANETA",
        "ANTIOQUIA-SALGAR",
        "ANTIOQUIA-SAN ANDRES DE CUERQUIA",
        "ANTIOQUIA-SAN CARLOS",
        "ANTIOQUIA-SAN FRANCISCO",
        "ANTIOQUIA-SAN JERONIMO",
        "ANTIOQUIA-SAN JOSE DE LA MONTAÑA",
        "ANTIOQUIA-SAN JUAN DE URABA",
        "ANTIOQUIA-SAN LUIS",
        "ANTIOQUIA-SAN PEDRO",
        "ANTIOQUIA-SAN PEDRO DE URABA",
        "ANTIOQUIA-SAN RAFAEL",
        "ANTIOQUIA-SAN ROQUE",
        "ANTIOQUIA-SAN VICENTE",
        "ANTIOQUIA-SANTA BARBARA",
        "ANTIOQUIA-SANTA ROSA DE OSOS",
        "ANTIOQUIA-SANTO DOMINGO",
        "ANTIOQUIA-EL SANTUARIO",
        "ANTIOQUIA-SEGOVIA",
        "ANTIOQUIA-SONSON",
        "ANTIOQUIA-SOPETRAN",
        "ANTIOQUIA-TAMESIS",
        "ANTIOQUIA-TARAZA",
        "ANTIOQUIA-TARSO",
        "ANTIOQUIA-TITIRIBI",
        "ANTIOQUIA-TOLEDO",
        "ANTIOQUIA-TURBO",
        "ANTIOQUIA-URAMITA",
        "ANTIOQUIA-URRAO",
        "ANTIOQUIA-VALDIVIA",
        "ANTIOQUIA-VALPARAISO",
        "ANTIOQUIA-VEGACHI",
        "ANTIOQUIA-VENECIA",
        "ANTIOQUIA-VIGIA DEL FUERTE",
        "ANTIOQUIA-YALI",
        "ANTIOQUIA-YARUMAL",
        "ANTIOQUIA-YOLOMBO",
        "ANTIOQUIA-YONDO",
        "ANTIOQUIA-ZARAGOZA",
        "ATLANTICO-BARRANQUILLA",
        "ATLANTICO-BARANOA",
        "ATLANTICO-CAMPO DE LA CRUZ",
        "ATLANTICO-CANDELARIA",
        "ATLANTICO-GALAPA",
        "ATLANTICO-JUAN DE ACOSTA",
        "ATLANTICO-LURUACO",
        "ATLANTICO-MALAMBO",
        "ATLANTICO-MANATI",
        "ATLANTICO-PALMAR DE VARELA",
        "ATLANTICO-PIOJO",
        "ATLANTICO-POLONUEVO",
        "ATLANTICO-PONEDERA",
        "ATLANTICO-PUERTO COLOMBIA",
        "ATLANTICO-REPELON",
        "ATLANTICO-SABANAGRANDE",
        "ATLANTICO-SABANALARGA",
        "ATLANTICO-SANTA LUCIA",
        "ATLANTICO-SANTO TOMAS",
        "ATLANTICO-SOLEDAD",
        "ATLANTICO-SUAN",
        "ATLANTICO-TUBARA",
        "ATLANTICO-USIACURI",
        "BOGOTA-BOGOTA",
        "D.C.",
        "BOLIVAR-CARTAGENA",
        "BOLIVAR-ACHI",
        "BOLIVAR-ALTOS DEL ROSARIO",
        "BOLIVAR-ARENAL",
        "BOLIVAR-ARJONA",
        "BOLIVAR-ARROYOHONDO",
        "BOLIVAR-BARRANCO DE LOBA",
        "BOLIVAR-CALAMAR",
        "BOLIVAR-CANTAGALLO",
        "BOLIVAR-CICUCO",
        "BOLIVAR-CORDOBA",
        "BOLIVAR-CLEMENCIA",
        "BOLIVAR-EL CARMEN DE BOLIVAR",
        "BOLIVAR-EL GUAMO",
        "BOLIVAR-EL PEÑON",
        "BOLIVAR-HATILLO DE LOBA",
        "BOLIVAR-MAGANGUE",
        "BOLIVAR-MAHATES",
        "BOLIVAR-MARGARITA",
        "BOLIVAR-MARIA LA BAJA",
        "BOLIVAR-MONTECRISTO",
        "BOLIVAR-MOMPOS",
        "BOLIVAR-NOROSI",
        "BOLIVAR-MORALES",
        "BOLIVAR-PINILLOS",
        "BOLIVAR-REGIDOR",
        "BOLIVAR-RIO VIEJO",
        "BOLIVAR-SAN CRISTOBAL",
        "BOLIVAR-SAN ESTANISLAO",
        "BOLIVAR-SAN FERNANDO",
        "BOLIVAR-SAN JACINTO",
        "BOLIVAR-SAN JACINTO DEL CAUCA",
        "BOLIVAR-SAN JUAN NEPOMUCENO",
        "BOLIVAR-SAN MARTIN DE LOBA",
        "BOLIVAR-SAN PABLO",
        "BOLIVAR-SANTA CATALINA",
        "BOLIVAR-SANTA ROSA",
        "BOLIVAR-SANTA ROSA DEL SUR",
        "BOLIVAR-SIMITI",
        "BOLIVAR-SOPLAVIENTO",
        "BOLIVAR-TALAIGUA NUEVO",
        "BOLIVAR-TIQUISIO",
        "BOLIVAR-TURBACO",
        "BOLIVAR-TURBANA",
        "BOLIVAR-VILLANUEVA",
        "BOLIVAR-ZAMBRANO",
        "BOYACA-TUNJA",
        "BOYACA-ALMEIDA",
        "BOYACA-AQUITANIA",
        "BOYACA-ARCABUCO",
        "BOYACA-BELEN",
        "BOYACA-BERBEO",
        "BOYACA-BETEITIVA",
        "BOYACA-BOAVITA",
        "BOYACA-BOYACA",
        "BOYACA-BRICEÑO",
        "BOYACA-BUENAVISTA",
        "BOYACA-BUSBANZA",
        "BOYACA-CALDAS",
        "BOYACA-CAMPOHERMOSO",
        "BOYACA-CERINZA",
        "BOYACA-CHINAVITA",
        "BOYACA-CHIQUINQUIRA",
        "BOYACA-CHISCAS",
        "BOYACA-CHITA",
        "BOYACA-CHITARAQUE",
        "BOYACA-CHIVATA",
        "BOYACA-CIENEGA",
        "BOYACA-COMBITA",
        "BOYACA-COPER",
        "BOYACA-CORRALES",
        "BOYACA-COVARACHIA",
        "BOYACA-CUBARA",
        "BOYACA-CUCAITA",
        "BOYACA-CUITIVA",
        "BOYACA-CHIQUIZA",
        "BOYACA-CHIVOR",
        "BOYACA-DUITAMA",
        "BOYACA-EL COCUY",
        "BOYACA-EL ESPINO",
        "BOYACA-FIRAVITOBA",
        "BOYACA-FLORESTA",
        "BOYACA-GACHANTIVA",
        "BOYACA-GAMEZA",
        "BOYACA-GARAGOA",
        "BOYACA-GUACAMAYAS",
        "BOYACA-GUATEQUE",
        "BOYACA-GUAYATA",
        "BOYACA-GsICAN",
        "BOYACA-IZA",
        "BOYACA-JENESANO",
        "BOYACA-JERICO",
        "BOYACA-LABRANZAGRANDE",
        "BOYACA-LA CAPILLA",
        "BOYACA-LA VICTORIA",
        "BOYACA-LA UVITA",
        "BOYACA-VILLA DE LEYVA",
        "BOYACA-MACANAL",
        "BOYACA-MARIPI",
        "BOYACA-MIRAFLORES",
        "BOYACA-MONGUA",
        "BOYACA-MONGUI",
        "BOYACA-MONIQUIRA",
        "BOYACA-MOTAVITA",
        "BOYACA-MUZO",
        "BOYACA-NOBSA",
        "BOYACA-NUEVO COLON",
        "BOYACA-OICATA",
        "BOYACA-OTANCHE",
        "BOYACA-PACHAVITA",
        "BOYACA-PAEZ",
        "BOYACA-PAIPA",
        "BOYACA-PAJARITO",
        "BOYACA-PANQUEBA",
        "BOYACA-PAUNA",
        "BOYACA-PAYA",
        "BOYACA-PAZ DE RIO",
        "BOYACA-PESCA",
        "BOYACA-PISBA",
        "BOYACA-PUERTO BOYACA",
        "BOYACA-QUIPAMA",
        "BOYACA-RAMIRIQUI",
        "BOYACA-RAQUIRA",
        "BOYACA-RONDON",
        "BOYACA-SABOYA",
        "BOYACA-SACHICA",
        "BOYACA-SAMACA",
        "BOYACA-SAN EDUARDO",
        "BOYACA-SAN JOSE DE PARE",
        "BOYACA-SAN LUIS DE GACENO",
        "BOYACA-SAN MATEO",
        "BOYACA-SAN MIGUEL DE SEMA",
        "BOYACA-SAN PABLO DE BORBUR",
        "BOYACA-SANTANA",
        "BOYACA-SANTA MARIA",
        "BOYACA-SANTA ROSA DE VITERBO",
        "BOYACA-SANTA SOFIA",
        "BOYACA-SATIVANORTE",
        "BOYACA-SATIVASUR",
        "BOYACA-SIACHOQUE",
        "BOYACA-SOATA",
        "BOYACA-SOCOTA",
        "BOYACA-SOCHA",
        "BOYACA-SOGAMOSO",
        "BOYACA-SOMONDOCO",
        "BOYACA-SORA",
        "BOYACA-SOTAQUIRA",
        "BOYACA-SORACA",
        "BOYACA-SUSACON",
        "BOYACA-SUTAMARCHAN",
        "BOYACA-SUTATENZA",
        "BOYACA-TASCO",
        "BOYACA-TENZA",
        "BOYACA-TIBANA",
        "BOYACA-TIBASOSA",
        "BOYACA-TINJACA",
        "BOYACA-TIPACOQUE",
        "BOYACA-TOCA",
        "BOYACA-TOGsI",
        "BOYACA-TOPAGA",
        "BOYACA-TOTA",
        "BOYACA-TUNUNGUA",
        "BOYACA-TURMEQUE",
        "BOYACA-TUTA",
        "BOYACA-TUTAZA",
        "BOYACA-UMBITA",
        "BOYACA-VENTAQUEMADA",
        "BOYACA-VIRACACHA",
        "BOYACA-ZETAQUIRA",
        "CALDAS-MANIZALES",
        "CALDAS-AGUADAS",
        "CALDAS-ANSERMA",
        "CALDAS-ARANZAZU",
        "CALDAS-BELALCAZAR",
        "CALDAS-CHINCHINA",
        "CALDAS-FILADELFIA",
        "CALDAS-LA DORADA",
        "CALDAS-LA MERCED",
        "CALDAS-MANZANARES",
        "CALDAS-MARMATO",
        "CALDAS-MARQUETALIA",
        "CALDAS-MARULANDA",
        "CALDAS-NEIRA",
        "CALDAS-NORCASIA",
        "CALDAS-PACORA",
        "CALDAS-PALESTINA",
        "CALDAS-PENSILVANIA",
        "CALDAS-RIOSUCIO",
        "CALDAS-RISARALDA",
        "CALDAS-SALAMINA",
        "CALDAS-SAMANA",
        "CALDAS-SAN JOSE",
        "CALDAS-SUPIA",
        "CALDAS-VICTORIA",
        "CALDAS-VILLAMARIA",
        "CALDAS-VITERBO",
        "CAQUETA-FLORENCIA",
        "CAQUETA-ALBANIA",
        "CAQUETA-BELEN DE LOS ANDAQUIES",
        "CAQUETA-CARTAGENA DEL CHAIRA",
        "CAQUETA-CURILLO",
        "CAQUETA-EL DONCELLO",
        "CAQUETA-EL PAUJIL",
        "CAQUETA-LA MONTAÑITA",
        "CAQUETA-MILAN",
        "CAQUETA-MORELIA",
        "CAQUETA-PUERTO RICO",
        "CAQUETA-SAN JOSE DEL FRAGUA",
        "CAQUETA-SAN VICENTE DEL CAGUAN",
        "CAQUETA-SOLANO",
        "CAQUETA-SOLITA",
        "CAQUETA-VALPARAISO",
        "CAUCA-POPAYAN",
        "CAUCA-ALMAGUER",
        "CAUCA-ARGELIA",
        "CAUCA-BALBOA",
        "CAUCA-BOLIVAR",
        "CAUCA-BUENOS AIRES",
        "CAUCA-CAJIBIO",
        "CAUCA-CALDONO",
        "CAUCA-CALOTO",
        "CAUCA-CORINTO",
        "CAUCA-EL TAMBO",
        "CAUCA-FLORENCIA",
        "CAUCA-GUACHENE",
        "CAUCA-GUAPI",
        "CAUCA-INZA",
        "CAUCA-JAMBALO",
        "CAUCA-LA SIERRA",
        "CAUCA-LA VEGA",
        "CAUCA-LOPEZ",
        "CAUCA-MERCADERES",
        "CAUCA-MIRANDA",
        "CAUCA-MORALES",
        "CAUCA-PADILLA",
        "CAUCA-PAEZ",
        "CAUCA-PATIA",
        "CAUCA-PIAMONTE",
        "CAUCA-PIENDAMO",
        "CAUCA-PUERTO TEJADA",
        "CAUCA-PURACE",
        "CAUCA-ROSAS",
        "CAUCA-SAN SEBASTIAN",
        "CAUCA-SANTANDER DE QUILICHAO",
        "CAUCA-SANTA ROSA",
        "CAUCA-SILVIA",
        "CAUCA-SOTARA",
        "CAUCA-SUAREZ",
        "CAUCA-SUCRE",
        "CAUCA-TIMBIO",
        "CAUCA-TIMBIQUI",
        "CAUCA-TORIBIO",
        "CAUCA-TOTORO",
        "CAUCA-VILLA RICA",
        "CESAR-VALLEDUPAR",
        "CESAR-AGUACHICA",
        "CESAR-AGUSTIN CODAZZI",
        "CESAR-ASTREA",
        "CESAR-BECERRIL",
        "CESAR-BOSCONIA",
        "CESAR-CHIMICHAGUA",
        "CESAR-CHIRIGUANA",
        "CESAR-CURUMANI",
        "CESAR-EL COPEY",
        "CESAR-EL PASO",
        "CESAR-GAMARRA",
        "CESAR-GONZALEZ",
        "CESAR-LA GLORIA",
        "CESAR-LA JAGUA DE IBIRICO",
        "CESAR-MANAURE",
        "CESAR-PAILITAS",
        "CESAR-PELAYA",
        "CESAR-PUEBLO BELLO",
        "CESAR-RIO DE ORO",
        "CESAR-LA PAZ",
        "CESAR-SAN ALBERTO",
        "CESAR-SAN DIEGO",
        "CESAR-SAN MARTIN",
        "CESAR-TAMALAMEQUE",
        "CORDOBA-MONTERIA",
        "CORDOBA-AYAPEL",
        "CORDOBA-BUENAVISTA",
        "CORDOBA-CANALETE",
        "CORDOBA-CERETE",
        "CORDOBA-CHIMA",
        "CORDOBA-CHINU",
        "CORDOBA-CIENAGA DE ORO",
        "CORDOBA-COTORRA",
        "CORDOBA-LA APARTADA",
        "CORDOBA-LORICA",
        "CORDOBA-LOS CORDOBAS",
        "CORDOBA-MOMIL",
        "CORDOBA-MONTELIBANO",
        "CORDOBA-MOÑITOS",
        "CORDOBA-PLANETA RICA",
        "CORDOBA-PUEBLO NUEVO",
        "CORDOBA-PUERTO ESCONDIDO",
        "CORDOBA-PUERTO LIBERTADOR",
        "CORDOBA-PURISIMA",
        "CORDOBA-SAHAGUN",
        "CORDOBA-SAN ANDRES SOTAVENTO",
        "CORDOBA-SAN ANTERO",
        "CORDOBA-SAN BERNARDO DEL VIENTO",
        "CORDOBA-SAN CARLOS",
        "CORDOBA-SAN PELAYO",
        "CORDOBA-TIERRALTA",
        "CORDOBA-VALENCIA",
        "CUNDINAMARCA-AGUA DE DIOS",
        "CUNDINAMARCA-ALBAN",
        "CUNDINAMARCA-ANAPOIMA",
        "CUNDINAMARCA-ANOLAIMA",
        "CUNDINAMARCA-ARBELAEZ",
        "CUNDINAMARCA-BELTRAN",
        "CUNDINAMARCA-BITUIMA",
        "CUNDINAMARCA-BOJACA",
        "CUNDINAMARCA-CABRERA",
        "CUNDINAMARCA-CACHIPAY",
        "CUNDINAMARCA-CAJICA",
        "CUNDINAMARCA-CAPARRAPI",
        "CUNDINAMARCA-CAQUEZA",
        "CUNDINAMARCA-CARMEN DE CARUPA",
        "CUNDINAMARCA-CHAGUANI",
        "CUNDINAMARCA-CHIA",
        "CUNDINAMARCA-CHIPAQUE",
        "CUNDINAMARCA-CHOACHI",
        "CUNDINAMARCA-CHOCONTA",
        "CUNDINAMARCA-COGUA",
        "CUNDINAMARCA-COTA",
        "CUNDINAMARCA-CUCUNUBA",
        "CUNDINAMARCA-EL COLEGIO",
        "CUNDINAMARCA-EL PEÑON",
        "CUNDINAMARCA-EL ROSAL",
        "CUNDINAMARCA-FACATATIVA",
        "CUNDINAMARCA-FOMEQUE",
        "CUNDINAMARCA-FOSCA",
        "CUNDINAMARCA-FUNZA",
        "CUNDINAMARCA-FUQUENE",
        "CUNDINAMARCA-FUSAGASUGA",
        "CUNDINAMARCA-GACHALA",
        "CUNDINAMARCA-GACHANCIPA",
        "CUNDINAMARCA-GACHETA",
        "CUNDINAMARCA-GAMA",
        "CUNDINAMARCA-GIRARDOT",
        "CUNDINAMARCA-GRANADA",
        "CUNDINAMARCA-GUACHETA",
        "CUNDINAMARCA-GUADUAS",
        "CUNDINAMARCA-GUASCA",
        "CUNDINAMARCA-GUATAQUI",
        "CUNDINAMARCA-GUATAVITA",
        "CUNDINAMARCA-GUAYABAL DE SIQUIMA",
        "CUNDINAMARCA-GUAYABETAL",
        "CUNDINAMARCA-GUTIERREZ",
        "CUNDINAMARCA-JERUSALEN",
        "CUNDINAMARCA-JUNIN",
        "CUNDINAMARCA-LA CALERA",
        "CUNDINAMARCA-LA MESA",
        "CUNDINAMARCA-LA PALMA",
        "CUNDINAMARCA-LA PEÑA",
        "CUNDINAMARCA-LA VEGA",
        "CUNDINAMARCA-LENGUAZAQUE",
        "CUNDINAMARCA-MACHETA",
        "CUNDINAMARCA-MADRID",
        "CUNDINAMARCA-MANTA",
        "CUNDINAMARCA-MEDINA",
        "CUNDINAMARCA-MOSQUERA",
        "CUNDINAMARCA-NARIÑO",
        "CUNDINAMARCA-NEMOCON",
        "CUNDINAMARCA-NILO",
        "CUNDINAMARCA-NIMAIMA",
        "CUNDINAMARCA-NOCAIMA",
        "CUNDINAMARCA-VENECIA",
        "CUNDINAMARCA-PACHO",
        "CUNDINAMARCA-PAIME",
        "CUNDINAMARCA-PANDI",
        "CUNDINAMARCA-PARATEBUENO",
        "CUNDINAMARCA-PASCA",
        "CUNDINAMARCA-PUERTO SALGAR",
        "CUNDINAMARCA-PULI",
        "CUNDINAMARCA-QUEBRADANEGRA",
        "CUNDINAMARCA-QUETAME",
        "CUNDINAMARCA-QUIPILE",
        "CUNDINAMARCA-APULO",
        "CUNDINAMARCA-RICAURTE",
        "CUNDINAMARCA-SAN ANTONIO DEL TEQUENDAMA",
        "CUNDINAMARCA-SAN BERNARDO",
        "CUNDINAMARCA-SAN CAYETANO",
        "CUNDINAMARCA-SAN FRANCISCO",
        "CUNDINAMARCA-SAN JUAN DE RIO SECO",
        "CUNDINAMARCA-SASAIMA",
        "CUNDINAMARCA-SESQUILE",
        "CUNDINAMARCA-SIBATE",
        "CUNDINAMARCA-SILVANIA",
        "CUNDINAMARCA-SIMIJACA",
        "CUNDINAMARCA-SOACHA",
        "CUNDINAMARCA-SOPO",
        "CUNDINAMARCA-SUBACHOQUE",
        "CUNDINAMARCA-SUESCA",
        "CUNDINAMARCA-SUPATA",
        "CUNDINAMARCA-SUSA",
        "CUNDINAMARCA-SUTATAUSA",
        "CUNDINAMARCA-TABIO",
        "CUNDINAMARCA-TAUSA",
        "CUNDINAMARCA-TENA",
        "CUNDINAMARCA-TENJO",
        "CUNDINAMARCA-TIBACUY",
        "CUNDINAMARCA-TIBIRITA",
        "CUNDINAMARCA-TOCAIMA",
        "CUNDINAMARCA-TOCANCIPA",
        "CUNDINAMARCA-TOPAIPI",
        "CUNDINAMARCA-UBALA",
        "CUNDINAMARCA-UBAQUE",
        "CUNDINAMARCA-VILLA DE SAN DIEGO DE UBATE",
        "CUNDINAMARCA-UNE",
        "CUNDINAMARCA-UTICA",
        "CUNDINAMARCA-VERGARA",
        "CUNDINAMARCA-VIANI",
        "CUNDINAMARCA-VILLAGOMEZ",
        "CUNDINAMARCA-VILLAPINZON",
        "CUNDINAMARCA-VILLETA",
        "CUNDINAMARCA-VIOTA",
        "CUNDINAMARCA-YACOPI",
        "CUNDINAMARCA-ZIPACON",
        "CUNDINAMARCA-ZIPAQUIRA",
        "CHOCO-QUIBDO",
        "CHOCO-ACANDI",
        "CHOCO-ALTO BAUDO",
        "CHOCO-ATRATO",
        "CHOCO-BAGADO",
        "CHOCO-BAHIA SOLANO",
        "CHOCO-BAJO BAUDO",
        "CHOCO-BOJAYA",
        "CHOCO-EL CANTON DEL SAN PABLO",
        "CHOCO-CARMEN DEL DARIEN",
        "CHOCO-CERTEGUI",
        "CHOCO-CONDOTO",
        "CHOCO-EL CARMEN DE ATRATO",
        "CHOCO-EL LITORAL DEL SAN JUAN",
        "CHOCO-ISTMINA",
        "CHOCO-JURADO",
        "CHOCO-LLORO",
        "CHOCO-MEDIO ATRATO",
        "CHOCO-MEDIO BAUDO",
        "CHOCO-MEDIO SAN JUAN",
        "CHOCO-NOVITA",
        "CHOCO-NUQUI",
        "CHOCO-RIO IRO",
        "CHOCO-RIO QUITO",
        "CHOCO-RIOSUCIO",
        "CHOCO-SAN JOSE DEL PALMAR",
        "CHOCO-SIPI",
        "CHOCO-TADO",
        "CHOCO-UNGUIA",
        "CHOCO-UNION PANAMERICANA",
        "HUILA-NEIVA",
        "HUILA-ACEVEDO",
        "HUILA-AGRADO",
        "HUILA-AIPE",
        "HUILA-ALGECIRAS",
        "HUILA-ALTAMIRA",
        "HUILA-BARAYA",
        "HUILA-CAMPOALEGRE",
        "HUILA-COLOMBIA",
        "HUILA-ELIAS",
        "HUILA-GARZON",
        "HUILA-GIGANTE",
        "HUILA-GUADALUPE",
        "HUILA-HOBO",
        "HUILA-IQUIRA",
        "HUILA-ISNOS",
        "HUILA-LA ARGENTINA",
        "HUILA-LA PLATA",
        "HUILA-NATAGA",
        "HUILA-OPORAPA",
        "HUILA-PAICOL",
        "HUILA-PALERMO",
        "HUILA-PALESTINA",
        "HUILA-PITAL",
        "HUILA-PITALITO",
        "HUILA-RIVERA",
        "HUILA-SALADOBLANCO",
        "HUILA-SAN AGUSTIN",
        "HUILA-SANTA MARIA",
        "HUILA-SUAZA",
        "HUILA-TARQUI",
        "HUILA-TESALIA",
        "HUILA-TELLO",
        "HUILA-TERUEL",
        "HUILA-TIMANA",
        "HUILA-VILLAVIEJA",
        "HUILA-YAGUARA",
        "LA GUAJIRA-RIOHACHA",
        "LA GUAJIRA-ALBANIA",
        "LA GUAJIRA-BARRANCAS",
        "LA GUAJIRA-DIBULLA",
        "LA GUAJIRA-DISTRACCION",
        "LA GUAJIRA-EL MOLINO",
        "LA GUAJIRA-FONSECA",
        "LA GUAJIRA-HATONUEVO",
        "LA GUAJIRA-LA JAGUA DEL PILAR",
        "LA GUAJIRA-MAICAO",
        "LA GUAJIRA-MANAURE",
        "LA GUAJIRA-SAN JUAN DEL CESAR",
        "LA GUAJIRA-URIBIA",
        "LA GUAJIRA-URUMITA",
        "LA GUAJIRA-VILLANUEVA",
        "MAGDALENA-SANTA MARTA",
        "MAGDALENA-ALGARROBO",
        "MAGDALENA-ARACATACA",
        "MAGDALENA-ARIGUANI",
        "MAGDALENA-CERRO SAN ANTONIO",
        "MAGDALENA-CHIBOLO",
        "MAGDALENA-CIENAGA",
        "MAGDALENA-CONCORDIA",
        "MAGDALENA-EL BANCO",
        "MAGDALENA-EL PIÑON",
        "MAGDALENA-EL RETEN",
        "MAGDALENA-FUNDACION",
        "MAGDALENA-GUAMAL",
        "MAGDALENA-NUEVA GRANADA",
        "MAGDALENA-PEDRAZA",
        "MAGDALENA-PIJIÑO DEL CARMEN",
        "MAGDALENA-PIVIJAY",
        "MAGDALENA-PLATO",
        "MAGDALENA-PUEBLOVIEJO",
        "MAGDALENA-REMOLINO",
        "MAGDALENA-SABANAS DE SAN ANGEL",
        "MAGDALENA-SALAMINA",
        "MAGDALENA-SAN SEBASTIAN DE BUENAVISTA",
        "MAGDALENA-SAN ZENON",
        "MAGDALENA-SANTA ANA",
        "MAGDALENA-SANTA BARBARA DE PINTO",
        "MAGDALENA-SITIONUEVO",
        "MAGDALENA-TENERIFE",
        "MAGDALENA-ZAPAYAN",
        "MAGDALENA-ZONA BANANERA",
        "META-VILLAVICENCIO",
        "META-ACACIAS",
        "META-BARRANCA DE UPIA",
        "META-CABUYARO",
        "META-CASTILLA LA NUEVA",
        "META-CUBARRAL",
        "META-CUMARAL",
        "META-EL CALVARIO",
        "META-EL CASTILLO",
        "META-EL DORADO",
        "META-FUENTE DE ORO",
        "META-GRANADA",
        "META-GUAMAL",
        "META-MAPIRIPAN",
        "META-MESETAS",
        "META-LA MACARENA",
        "META-URIBE",
        "META-LEJANIAS",
        "META-PUERTO CONCORDIA",
        "META-PUERTO GAITAN",
        "META-PUERTO LOPEZ",
        "META-PUERTO LLERAS",
        "META-PUERTO RICO",
        "META-RESTREPO",
        "META-SAN CARLOS DE GUAROA",
        "META-SAN JUAN DE ARAMA",
        "META-SAN JUANITO",
        "META-SAN MARTIN",
        "META-VISTAHERMOSA",
        "NARIÑO-PASTO",
        "NARIÑO-ALBAN",
        "NARIÑO-ALDANA",
        "NARIÑO-ANCUYA",
        "NARIÑO-ARBOLEDA",
        "NARIÑO-BARBACOAS",
        "NARIÑO-BELEN",
        "NARIÑO-BUESACO",
        "NARIÑO-COLON",
        "NARIÑO-CONSACA",
        "NARIÑO-CONTADERO",
        "NARIÑO-CORDOBA",
        "NARIÑO-CUASPUD",
        "NARIÑO-CUMBAL",
        "NARIÑO-CUMBITARA",
        "NARIÑO-CHACHAGsI",
        "NARIÑO-EL CHARCO",
        "NARIÑO-EL PEÑOL",
        "NARIÑO-EL ROSARIO",
        "NARIÑO-EL TABLON DE GOMEZ",
        "NARIÑO-EL TAMBO",
        "NARIÑO-FUNES",
        "NARIÑO-GUACHUCAL",
        "NARIÑO-GUAITARILLA",
        "NARIÑO-GUALMATAN",
        "NARIÑO-ILES",
        "NARIÑO-IMUES",
        "NARIÑO-IPIALES",
        "NARIÑO-LA CRUZ",
        "NARIÑO-LA FLORIDA",
        "NARIÑO-LA LLANADA",
        "NARIÑO-LA TOLA",
        "NARIÑO-LA UNION",
        "NARIÑO-LEIVA",
        "NARIÑO-LINARES",
        "NARIÑO-LOS ANDES",
        "NARIÑO-MAGsI",
        "NARIÑO-MALLAMA",
        "NARIÑO-MOSQUERA",
        "NARIÑO-NARIÑO",
        "NARIÑO-OLAYA HERRERA",
        "NARIÑO-OSPINA",
        "NARIÑO-FRANCISCO PIZARRO",
        "NARIÑO-POLICARPA",
        "NARIÑO-POTOSI",
        "NARIÑO-PROVIDENCIA",
        "NARIÑO-PUERRES",
        "NARIÑO-PUPIALES",
        "NARIÑO-RICAURTE",
        "NARIÑO-ROBERTO PAYAN",
        "NARIÑO-SAMANIEGO",
        "NARIÑO-SANDONA",
        "NARIÑO-SAN BERNARDO",
        "NARIÑO-SAN LORENZO",
        "NARIÑO-SAN PABLO",
        "NARIÑO-SAN PEDRO DE CARTAGO",
        "NARIÑO-SANTA BARBARA",
        "NARIÑO-SANTACRUZ",
        "NARIÑO-SAPUYES",
        "NARIÑO-TAMINANGO",
        "NARIÑO-TANGUA",
        "NARIÑO-SAN ANDRES DE TUMACO",
        "NARIÑO-TUQUERRES",
        "NARIÑO-YACUANQUER",
        "N. DE SANTANDER-CUCUTA",
        "N. DE SANTANDER-ABREGO",
        "N. DE SANTANDER-ARBOLEDAS",
        "N. DE SANTANDER-BOCHALEMA",
        "N. DE SANTANDER-BUCARASICA",
        "N. DE SANTANDER-CACOTA",
        "N. DE SANTANDER-CACHIRA",
        "N. DE SANTANDER-CHINACOTA",
        "N. DE SANTANDER-CHITAGA",
        "N. DE SANTANDER-CONVENCION",
        "N. DE SANTANDER-CUCUTILLA",
        "N. DE SANTANDER-DURANIA",
        "N. DE SANTANDER-EL CARMEN",
        "N. DE SANTANDER-EL TARRA",
        "N. DE SANTANDER-EL ZULIA",
        "N. DE SANTANDER-GRAMALOTE",
        "N. DE SANTANDER-HACARI",
        "N. DE SANTANDER-HERRAN",
        "N. DE SANTANDER-LABATECA",
        "N. DE SANTANDER-LA ESPERANZA",
        "N. DE SANTANDER-LA PLAYA",
        "N. DE SANTANDER-LOS PATIOS",
        "N. DE SANTANDER-LOURDES",
        "N. DE SANTANDER-MUTISCUA",
        "N. DE SANTANDER-OCAÑA",
        "N. DE SANTANDER-PAMPLONA",
        "N. DE SANTANDER-PAMPLONITA",
        "N. DE SANTANDER-PUERTO SANTANDER",
        "N. DE SANTANDER-RAGONVALIA",
        "N. DE SANTANDER-SALAZAR",
        "N. DE SANTANDER-SAN CALIXTO",
        "N. DE SANTANDER-SAN CAYETANO",
        "N. DE SANTANDER-SANTIAGO",
        "N. DE SANTANDER-SARDINATA",
        "N. DE SANTANDER-SILOS",
        "N. DE SANTANDER-TEORAMA",
        "N. DE SANTANDER-TIBU",
        "N. DE SANTANDER-TOLEDO",
        "N. DE SANTANDER-VILLA CARO",
        "N. DE SANTANDER-VILLA DEL ROSARIO",
        "QUINDIO-ARMENIA",
        "QUINDIO-BUENAVISTA",
        "QUINDIO-CALARCA",
        "QUINDIO-CIRCASIA",
        "QUINDIO-CORDOBA",
        "QUINDIO-FILANDIA",
        "QUINDIO-GENOVA",
        "QUINDIO-LA TEBAIDA",
        "QUINDIO-MONTENEGRO",
        "QUINDIO-PIJAO",
        "QUINDIO-QUIMBAYA",
        "QUINDIO-SALENTO",
        "RISARALDA-PEREIRA",
        "RISARALDA-APIA",
        "RISARALDA-BALBOA",
        "RISARALDA-BELEN DE UMBRIA",
        "RISARALDA-DOSQUEBRADAS",
        "RISARALDA-GUATICA",
        "RISARALDA-LA CELIA",
        "RISARALDA-LA VIRGINIA",
        "RISARALDA-MARSELLA",
        "RISARALDA-MISTRATO",
        "RISARALDA-PUEBLO RICO",
        "RISARALDA-QUINCHIA",
        "RISARALDA-SANTA ROSA DE CABAL",
        "RISARALDA-SANTUARIO",
        "SANTANDER-BUCARAMANGA",
        "SANTANDER-AGUADA",
        "SANTANDER-ALBANIA",
        "SANTANDER-ARATOCA",
        "SANTANDER-BARBOSA",
        "SANTANDER-BARICHARA",
        "SANTANDER-BARRANCABERMEJA",
        "SANTANDER-BETULIA",
        "SANTANDER-BOLIVAR",
        "SANTANDER-CABRERA",
        "SANTANDER-CALIFORNIA",
        "SANTANDER-CAPITANEJO",
        "SANTANDER-CARCASI",
        "SANTANDER-CEPITA",
        "SANTANDER-CERRITO",
        "SANTANDER-CHARALA",
        "SANTANDER-CHARTA",
        "SANTANDER-CHIMA",
        "SANTANDER-CHIPATA",
        "SANTANDER-CIMITARRA",
        "SANTANDER-CONCEPCION",
        "SANTANDER-CONFINES",
        "SANTANDER-CONTRATACION",
        "SANTANDER-COROMORO",
        "SANTANDER-CURITI",
        "SANTANDER-EL CARMEN DE CHUCURI",
        "SANTANDER-EL GUACAMAYO",
        "SANTANDER-EL PEÑON",
        "SANTANDER-EL PLAYON",
        "SANTANDER-ENCINO",
        "SANTANDER-ENCISO",
        "SANTANDER-FLORIAN",
        "SANTANDER-FLORIDABLANCA",
        "SANTANDER-GALAN",
        "SANTANDER-GAMBITA",
        "SANTANDER-GIRON",
        "SANTANDER-GUACA",
        "SANTANDER-GUADALUPE",
        "SANTANDER-GUAPOTA",
        "SANTANDER-GUAVATA",
        "SANTANDER-GsEPSA",
        "SANTANDER-HATO",
        "SANTANDER-JESUS MARIA",
        "SANTANDER-JORDAN",
        "SANTANDER-LA BELLEZA",
        "SANTANDER-LANDAZURI",
        "SANTANDER-LA PAZ",
        "SANTANDER-LEBRIJA",
        "SANTANDER-LOS SANTOS",
        "SANTANDER-MACARAVITA",
        "SANTANDER-MALAGA",
        "SANTANDER-MATANZA",
        "SANTANDER-MOGOTES",
        "SANTANDER-MOLAGAVITA",
        "SANTANDER-OCAMONTE",
        "SANTANDER-OIBA",
        "SANTANDER-ONZAGA",
        "SANTANDER-PALMAR",
        "SANTANDER-PALMAS DEL SOCORRO",
        "SANTANDER-PARAMO",
        "SANTANDER-PIEDECUESTA",
        "SANTANDER-PINCHOTE",
        "SANTANDER-PUENTE NACIONAL",
        "SANTANDER-PUERTO PARRA",
        "SANTANDER-PUERTO WILCHES",
        "SANTANDER-RIONEGRO",
        "SANTANDER-SABANA DE TORRES",
        "SANTANDER-SAN ANDRES",
        "SANTANDER-SAN BENITO",
        "SANTANDER-SAN GIL",
        "SANTANDER-SAN JOAQUIN",
        "SANTANDER-SAN JOSE DE MIRANDA",
        "SANTANDER-SAN MIGUEL",
        "SANTANDER-SAN VICENTE DE CHUCURI",
        "SANTANDER-SANTA BARBARA",
        "SANTANDER-SANTA HELENA DEL OPON",
        "SANTANDER-SIMACOTA",
        "SANTANDER-SOCORRO",
        "SANTANDER-SUAITA",
        "SANTANDER-SUCRE",
        "SANTANDER-SURATA",
        "SANTANDER-TONA",
        "SANTANDER-VALLE DE SAN JOSE",
        "SANTANDER-VELEZ",
        "SANTANDER-VETAS",
        "SANTANDER-VILLANUEVA",
        "SANTANDER-ZAPATOCA",
        "SUCRE-SINCELEJO",
        "SUCRE-BUENAVISTA",
        "SUCRE-CAIMITO",
        "SUCRE-COLOSO",
        "SUCRE-COROZAL",
        "SUCRE-COVEÑAS",
        "SUCRE-CHALAN",
        "SUCRE-EL ROBLE",
        "SUCRE-GALERAS",
        "SUCRE-GUARANDA",
        "SUCRE-LA UNION",
        "SUCRE-LOS PALMITOS",
        "SUCRE-MAJAGUAL",
        "SUCRE-MORROA",
        "SUCRE-OVEJAS",
        "SUCRE-PALMITO",
        "SUCRE-SAMPUES",
        "SUCRE-SAN BENITO ABAD",
        "SUCRE-SAN JUAN DE BETULIA",
        "SUCRE-SAN MARCOS",
        "SUCRE-SAN ONOFRE",
        "SUCRE-SAN PEDRO",
        "SUCRE-SAN LUIS DE SINCE",
        "SUCRE-SUCRE",
        "SUCRE-SANTIAGO DE TOLU",
        "SUCRE-TOLU VIEJO",
        "TOLIMA-IBAGUE",
        "TOLIMA-ALPUJARRA",
        "TOLIMA-ALVARADO",
        "TOLIMA-AMBALEMA",
        "TOLIMA-ANZOATEGUI",
        "TOLIMA-ARMERO",
        "TOLIMA-ATACO",
        "TOLIMA-CAJAMARCA",
        "TOLIMA-CARMEN DE APICALA",
        "TOLIMA-CASABIANCA",
        "TOLIMA-CHAPARRAL",
        "TOLIMA-COELLO",
        "TOLIMA-COYAIMA",
        "TOLIMA-CUNDAY",
        "TOLIMA-DOLORES",
        "TOLIMA-ESPINAL",
        "TOLIMA-FALAN",
        "TOLIMA-FLANDES",
        "TOLIMA-FRESNO",
        "TOLIMA-GUAMO",
        "TOLIMA-HERVEO",
        "TOLIMA-HONDA",
        "TOLIMA-ICONONZO",
        "TOLIMA-LERIDA",
        "TOLIMA-LIBANO",
        "TOLIMA-MARIQUITA",
        "TOLIMA-MELGAR",
        "TOLIMA-MURILLO",
        "TOLIMA-NATAGAIMA",
        "TOLIMA-ORTEGA",
        "TOLIMA-PALOCABILDO",
        "TOLIMA-PIEDRAS",
        "TOLIMA-PLANADAS",
        "TOLIMA-PRADO",
        "TOLIMA-PURIFICACION",
        "TOLIMA-RIOBLANCO",
        "TOLIMA-RONCESVALLES",
        "TOLIMA-ROVIRA",
        "TOLIMA-SALDAÑA",
        "TOLIMA-SAN ANTONIO",
        "TOLIMA-SAN LUIS",
        "TOLIMA-SANTA ISABEL",
        "TOLIMA-SUAREZ",
        "TOLIMA-VALLE DE SAN JUAN",
        "TOLIMA-VENADILLO",
        "TOLIMA-VILLAHERMOSA",
        "TOLIMA-VILLARRICA",
        "VALLE DEL CAUCA-CALI",
        "VALLE DEL CAUCA-ALCALA",
        "VALLE DEL CAUCA-ANDALUCIA",
        "VALLE DEL CAUCA-ANSERMANUEVO",
        "VALLE DEL CAUCA-ARGELIA",
        "VALLE DEL CAUCA-BOLIVAR",
        "VALLE DEL CAUCA-BUENAVENTURA",
        "VALLE DEL CAUCA-GUADALAJARA DE BUGA",
        "VALLE DEL CAUCA-BUGALAGRANDE",
        "VALLE DEL CAUCA-CAICEDONIA",
        "VALLE DEL CAUCA-CALIMA",
        "VALLE DEL CAUCA-CANDELARIA",
        "VALLE DEL CAUCA-CARTAGO",
        "VALLE DEL CAUCA-DAGUA",
        "VALLE DEL CAUCA-EL AGUILA",
        "VALLE DEL CAUCA-EL CAIRO",
        "VALLE DEL CAUCA-EL CERRITO",
        "VALLE DEL CAUCA-EL DOVIO",
        "VALLE DEL CAUCA-FLORIDA",
        "VALLE DEL CAUCA-GINEBRA",
        "VALLE DEL CAUCA-GUACARI",
        "VALLE DEL CAUCA-JAMUNDI",
        "VALLE DEL CAUCA-LA CUMBRE",
        "VALLE DEL CAUCA-LA UNION",
        "VALLE DEL CAUCA-LA VICTORIA",
        "VALLE DEL CAUCA-OBANDO",
        "VALLE DEL CAUCA-PALMIRA",
        "VALLE DEL CAUCA-PRADERA",
        "VALLE DEL CAUCA-RESTREPO",
        "VALLE DEL CAUCA-RIOFRIO",
        "VALLE DEL CAUCA-ROLDANILLO",
        "VALLE DEL CAUCA-SAN PEDRO",
        "VALLE DEL CAUCA-SEVILLA",
        "VALLE DEL CAUCA-TORO",
        "VALLE DEL CAUCA-TRUJILLO",
        "VALLE DEL CAUCA-TULUA",
        "VALLE DEL CAUCA-ULLOA",
        "VALLE DEL CAUCA-VERSALLES",
        "VALLE DEL CAUCA-VIJES",
        "VALLE DEL CAUCA-YOTOCO",
        "VALLE DEL CAUCA-YUMBO",
        "VALLE DEL CAUCA-ZARZAL",
        "ARAUCA-ARAUCA",
        "ARAUCA-ARAUQUITA",
        "ARAUCA-CRAVO NORTE",
        "ARAUCA-FORTUL",
        "ARAUCA-PUERTO RONDON",
        "ARAUCA-SARAVENA",
        "ARAUCA-TAME",
        "CASANARE-YOPAL",
        "CASANARE-AGUAZUL",
        "CASANARE-CHAMEZA",
        "CASANARE-HATO COROZAL",
        "CASANARE-LA SALINA",
        "CASANARE-MANI",
        "CASANARE-MONTERREY",
        "CASANARE-NUNCHIA",
        "CASANARE-OROCUE",
        "CASANARE-PAZ DE ARIPORO",
        "CASANARE-PORE",
        "CASANARE-RECETOR",
        "CASANARE-SABANALARGA",
        "CASANARE-SACAMA",
        "CASANARE-SAN LUIS DE PALENQUE",
        "CASANARE-TAMARA",
        "CASANARE-TAURAMENA",
        "CASANARE-TRINIDAD",
        "CASANARE-VILLANUEVA",
        "PUTUMAYO-MOCOA",
        "PUTUMAYO-COLON",
        "PUTUMAYO-ORITO",
        "PUTUMAYO-PUERTO ASIS",
        "PUTUMAYO-PUERTO CAICEDO",
        "PUTUMAYO-PUERTO GUZMAN",
        "PUTUMAYO-LEGUIZAMO",
        "PUTUMAYO-SIBUNDOY",
        "PUTUMAYO-SAN FRANCISCO",
        "PUTUMAYO-SAN MIGUEL",
        "PUTUMAYO-SANTIAGO",
        "PUTUMAYO-VALLE DEL GUAMUEZ",
        "PUTUMAYO-VILLAGARZON",
        "SAN ANDRES-SAN ANDRES",
        "SAN ANDRES-PROVIDENCIA",
        "AMAZONAS-LETICIA",
        "AMAZONAS-EL ENCANTO",
        "AMAZONAS-LA CHORRERA",
        "AMAZONAS-LA PEDRERA",
        "AMAZONAS-LA VICTORIA",
        "AMAZONAS-MIRITI - PARANA",
        "AMAZONAS-PUERTO ALEGRIA",
        "AMAZONAS-PUERTO ARICA",
        "AMAZONAS-PUERTO NARIÑO",
        "AMAZONAS-PUERTO SANTANDER",
        "AMAZONAS-TARAPACA",
        "GUAINIA-INIRIDA",
        "GUAINIA-BARRANCO MINAS",
        "GUAINIA-MAPIRIPANA",
        "GUAINIA-SAN FELIPE",
        "GUAINIA-PUERTO COLOMBIA",
        "GUAINIA-LA GUADALUPE",
        "GUAINIA-CACAHUAL",
        "GUAINIA-PANA PANA",
        "GUAINIA-MORICHAL",
        "GUAVIARE-SAN JOSE DEL GUAVIARE",
        "GUAVIARE-CALAMAR",
        "GUAVIARE-EL RETORNO",
        "GUAVIARE-MIRAFLORES",
        "VAUPES-MITU",
        "VAUPES-CARURU",
        "VAUPES-PACOA",
        "VAUPES-TARAIRA",
        "VAUPES-PAPUNAUA",
        "VAUPES-YAVARATE",
        "VICHADA-PUERTO CARREÑO",
        "VICHADA-LA PRIMAVERA",
        "VICHADA-SANTA ROSALIA",
        "VICHADA-CUMARIBO"
      ]
    };
  },
  validations: {
    form2: {
      razonSocial: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(120)
      },
      nombreComercial: {
        required,
        minLength: minLength(3),
        maxLength: maxLength(120)
      },
      nit: {
        required,
        numeric,
        maxLength: maxLength(9)
      },
      dv: {
        required
      },
      contribuyente: {
        required
      },
      ciudad: {
        required
      },
      direccion: {
        required
      },
      correo: {
        required,
        email
      },
      telefonoFijo: {
        required,
        numeric,
        maxLength: maxLength(7)
      },
      telefonoCelular: {
        required,
        numeric,
        maxLength: maxLength(10)
      },
      actividadPrincipal: {
        required
      },
      actividadSecundaria: {
        required
      }
    }
  },
  methods: {
    avanzar() {
      if (this.$v.form2.$invalid) {
        this.$v.form2.$touch();
        return;
      } else {
        this.$emit("avanzar");
      }
    },
    retroceder() {
      this.$emit("retroceder");
    }
  },
  computed: {
    erroresRazonSocial() {
      let errores = [];
      if (!this.$v.form2.razonSocial.$dirty) {
        return errores;
      } else if (!this.$v.form2.razonSocial.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.razonSocial.minLength) {
        errores.push("Mínimo tres caracteres...");
      } else if (!this.$v.form2.razonSocial.maxLength) {
        errores.push("Máximo 120 caracteres...");
      }
      return errores;
    },
    erroresNombreComercial() {
      let errores = [];
      if (!this.$v.form2.nombreComercial.$dirty) {
        return errores;
      } else if (!this.$v.form2.nombreComercial.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.nombreComercial.minLength) {
        errores.push("Mínimo tres caracteres...");
      } else if (!this.$v.form2.nombreComercial.maxLength) {
        errores.push("Máximo 120 caracteres...");
      }
      return errores;
    },
    erroresNit() {
      let errores = [];
      if (!this.$v.form2.nit.$dirty) {
        return errores;
      } else if (!this.$v.form2.nit.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.nit.numeric) {
        errores.push("Solo se permiten números...");
      } else if (!this.$v.form2.nit.maxLength) {
        errores.push("Máximo 9 digitos...");
      }
      return errores;
    },
    erroresDV() {
      let errores = [];
      if (!this.$v.form2.dv.$dirty) {
        return errores;
      } else if (!this.$v.form2.dv.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    },
    erroresContribuyente() {
      let errores = [];
      if (!this.$v.form2.contribuyente.$dirty) {
        return errores;
      } else if (!this.$v.form2.contribuyente.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    },
    erroresCiudad() {
      let errores = [];
      if (!this.$v.form2.ciudad.$dirty) {
        return errores;
      } else if (!this.$v.form2.ciudad.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    },
    erroresDireccion() {
      let errores = [];
      if (!this.$v.form2.direccion.$dirty) {
        return errores;
      } else if (!this.$v.form2.direccion.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    },
    erroresCorreo() {
      let errores = [];
      if (!this.$v.form2.correo.$dirty) {
        return errores;
      } else if (!this.$v.form2.correo.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.correo.email) {
        errores.push("Ingresa una dirección de correo válida...");
      }
      return errores;
    },
    erroresTelefonoFijo() {
      let errores = [];
      if (!this.$v.form2.telefonoFijo.$dirty) {
        return errores;
      } else if (!this.$v.form2.telefonoFijo.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.telefonoFijo.numeric) {
        errores.push("Ingresa solo números...");
      } else if (!this.$v.form2.telefonoFijo.maxLength) {
        errores.push("Máximo siete dígitos...");
      }
      return errores;
    },
    erroresTelefonoCelular() {
      let errores = [];
      if (!this.$v.form2.telefonoCelular.$dirty) {
        return errores;
      } else if (!this.$v.form2.telefonoCelular.required) {
        errores.push("Este campo es requerido...");
      } else if (!this.$v.form2.telefonoCelular.numeric) {
        errores.push("Ingresa solo números...");
      } else if (!this.$v.form2.telefonoCelular.maxLength) {
        errores.push("Máximo 10 dígitos...");
      }
      return errores;
    },
    erroresAP() {
      let errores = [];
      if (!this.$v.form2.actividadPrincipal.$dirty) {
        return errores;
      } else if (!this.$v.form2.actividadPrincipal.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    },
    erroresAS() {
      let errores = [];
      if (!this.$v.form2.actividadSecundaria.$dirty) {
        return errores;
      } else if (!this.$v.form2.actividadSecundaria.required) {
        errores.push("Este campo es requerido...");
      }
      return errores;
    }
  }
};
</script>
<style></style>
