<template>
  <v-card class="mb-12" color="grey lighten-2" height="auto" ref="form3">
    <v-app-bar flat>
      <v-toolbar-title
        >En esta seccion deberás seleccionar los productos requeridos (mínimo
        tres)...</v-toolbar-title
      >
    </v-app-bar>
    <v-card-text>
      <v-layout row wrap justify-space-around align-content-start>
        <v-flex xs12 md3>
          <v-select
            label="Selecciona una categoria"
            :items="categorias"
            attach
            color="amber darken-2"
            v-model="categoria"
          />
        </v-flex>
        <v-flex xs12 md3>
          <v-select
            label="Productos"
            :items="prodPorCategoria"
            item-text="nombre"
            item-value="nombre"
            color="amber darken-2"
            v-model="producto"
          >
            <template slot="selection" slot-scope="data">
              {{ data.item.nombre }}
            </template>
            <template slot="items" slot-scope="data">
              {{ data.item.nombre }}
            </template>
          </v-select>
        </v-flex>
        <v-flex xs12 md2>
          <v-select
            label="Prioridad"
            :items="prioridad"
            color="amber darken-2"
            v-model="prioridadP"
          />
        </v-flex>
        <v-flex xs12 md1>
          <v-text-field
            label="Cantidad"
            v-model="cantidadP"
            color="amber darken-2"
            :error-messages="erroresCantidad"
            @focus="$v.cantidadP.$touch()"
          />
        </v-flex>
        <v-flex
          xs12
          md1
          pt-3
          v-show="categoria && producto && prioridadP && cantidadP"
        >
          <v-tooltip right color="purple lighten-3">
            <template v-slot:activator="{ on }">
              <v-btn dark icon v-on="on" @click.native="agregarProductos">
                <v-icon color="black">mdi-plus</v-icon>
              </v-btn>
            </template>
            <span>Agregar producto</span>
          </v-tooltip>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-content-start>
        <v-flex xs12 md11>
          <v-data-table
            :headers="headers"
            :items="form3.produtosSeleccionados"
            class="elevation-5"
            hide-default-footer
          >
            <template slot="item" slot-scope="props">
              <tr>
                <td class="text-center">{{ props.item.categoria }}</td>
                <td class="text-center">{{ props.item.producto }}</td>
                <td class="text-center">{{ props.item.prioridad }}</td>
                <td class="text-center">{{ props.item.cantidad }}</td>
                <td class="text-center">
                  <v-tooltip right color="red lighten-2">
                    <template v-slot:activator="{ on }">
                      <v-btn
                        icon
                        color="red"
                        v-on="on"
                        @click.native="quitarProducto(props.item)"
                      >
                        <v-icon>mdi-delete</v-icon>
                      </v-btn>
                    </template>
                    <span>Retirar producto</span>
                  </v-tooltip>
                </td>
              </tr>
            </template>
            <template slot="no-data">
              <v-alert :value="true" type="warning" dense icon="mdi-alert" dark
                >No has agregado ningún producto aún</v-alert
              >
            </template>
          </v-data-table>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around align-content-start>
        <v-flex xs12 md11>
          <v-textarea
            v-model="form3.descripcion"
            label="Cuentanos, por qué deseas adquirir estos productos"
            counter
            color="amber darken-2"
            :error-messages="erroresDescripcion"
            @blur="$v.form3.descripcion.$touch()"
          />
        </v-flex>
        <v-flex xs12 md6>
          <v-checkbox
            v-model="form3.productosNuevos"
            label="¿Deseas recibir noticias sobre nuevos productos?"
            color="teal"
            hide-details
          />
          <v-checkbox
            v-model="form3.promociones"
            label="¿Deseas recibir informacion sobre promociones y descuentos?"
            color="teal"
            hide-details
          />
          <v-divider />
          <v-checkbox
            v-model="form3.agreement"
            color="deep-purple"
            :error-messages="erroresAgreement"
            @blur="$v.form3.agreement.$touch()"
          >
            <template v-slot:label>
              Acepto los&nbsp;
              <a href="#" @click.stop.prevent="dialog1 = true"
                >terminos y condiciones</a
              >
              &nbsp;y la&nbsp;
              <a href="#" @click.stop.prevent="dialog2 = true"
                >politica de privacidad</a
              >
            </template>
          </v-checkbox>
        </v-flex>
        <v-flex xs12 md4>
          <v-radio-group
            v-model="form3.origen"
            ref="origen"
            column
            label="¿Cómo te enteraste de nuestros productos?"
            :error-messages="erroresOrigen"
            @blur="$v.form3.origen.$touch()"
          >
            <v-radio value="Facebook" color="teal">
              <template v-slot:label>
                <v-icon color="blue darken-2">mdi-facebook</v-icon
                ><span>Facebook</span>
              </template>
            </v-radio>
            <v-radio value="Instagram" color="teal">
              <template v-slot:label>
                <v-icon color="purple darken-1">mdi-instagram</v-icon
                ><span>Instagram</span>
              </template>
            </v-radio>
            <v-radio value="Twitter" color="teal">
              <template v-slot:label>
                <v-icon color="cyan darken-1">mdi-twitter</v-icon
                ><span>Twitter</span>
              </template>
            </v-radio>
            <v-radio value="Pagina web" color="teal">
              <template v-slot:label>
                <v-icon color="green darken-1">mdi-web</v-icon
                ><span>Página web</span>
              </template>
            </v-radio>
            <v-radio value="Referido" color="teal">
              <template v-slot:label>
                <v-icon color="brown lighten-2">mdi-voice</v-icon
                ><span>Referido</span>
              </template>
            </v-radio>
          </v-radio-group>
        </v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn
          fab
          color="purple lighten-2"
          @click.native="retroceder"
      >
        <v-icon color="white">mdi-arrow-left</v-icon>
      </v-btn>
      <v-spacer />
      <v-btn fab dark color="purple lighten-2" @click.native="avanzar">
        <v-icon>mdi-check</v-icon>
      </v-btn>
    </v-card-actions>
    <v-dialog v-model="dialog1" absolute max-width="400" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-3"
          >Terminos y condiciones</v-card-title
        >
        <v-card-text>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn text @click="(form3.agreement = false), (dialog1 = false)">
            No
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            class="white--text"
            color="deep-purple accent-4"
            @click="(form3.agreement = true), (dialog1 = false)"
          >
            Si
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="dialog2" absolute max-width="400" persistent>
      <v-card>
        <v-card-title class="headline grey lighten-3"
          >Politica de privacidad</v-card-title
        >
        <v-card-text>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn text @click="(form3.agreement = false), (dialog2 = false)">
            No
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            class="white--text"
            color="deep-purple accent-4"
            @click="(form3.agreement = true), (dialog2 = false)"
          >
            Si
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-card>
</template>
<script>
import swal from "sweetalert2";
import { required, numeric, sameAs, maxLength } from "vuelidate/lib/validators";
export default {
  name: "productos",
  data: () => ({
    form3: {
      produtosSeleccionados: [],
      descripcion: "",
      productosNuevos: false,
      promociones: false,
      origen: "",
      agreement: false
    },
    categoria: "",
    producto: "",
    prioridadP: "",
    cantidadP: "",
    dialog1: false,
    dialog2: false,
    prodPorCategoria: [],
    categorias: ["Access points", "Portatiles", "Tablets"],
    productos: [
      { categoria: "Access points", nombre: "Cisco" },
      { categoria: "Access points", nombre: "TP-Link" },
      { categoria: "Access points", nombre: "Netgear" },
      { categoria: "Access points", nombre: "Asus DSL-AC88U" },
      { categoria: "Access points", nombre: "AVM Fritz!Box 7590" },
      { categoria: "Access points", nombre: "AVM Fritz!Box 3490" },
      { categoria: "Access points", nombre: "D-Link DIR-882 EXO AC2600" },
      { categoria: "Portatiles", nombre: "Trabajo en campo" },
      { categoria: "Portatiles", nombre: "Almacenes" },
      { categoria: "Tablets", nombre: "T-9.7in" },
      { categoria: "Tablets", nombre: "T-10.1in" },
      { categoria: "Tablets", nombre: "T-10.6in" }
    ],
    prioridad: ["Alta", "Media", "Baja"],
    headers: [
      { text: "Categoria", sortable: false, align: "center" },
      { text: "Producto", sortable: false, align: "center" },
      { text: "Prioridad", sortable: false, align: "center" },
      { text: "Cantidad", sortable: false, align: "center" },
      { text: "Acciones", sortable: false, align: "center" }
    ]
  }),
  validations: {
    cantidadP: {
      numeric
    },
    form3: {
      agreement: {
        sameAs: sameAs(() => true)
      },
      origen: {
        required
      },
      descripcion: {
        required,
        maxLength: maxLength(120)
      }
    }
  },
  watch: {
    categoria: {
      handler() {
        let prod = [];
        this.prioridadP = "";
        switch (this.categoria) {
          case "Access points":
            prod = this.productos.filter(p => {
              return p.categoria === "Access points";
            });
            return (this.prodPorCategoria = prod);
          case "Portatiles":
            prod = this.productos.filter(p => {
              return p.categoria === "Portatiles";
            });
            return (this.prodPorCategoria = prod);
          case "Tablets":
            prod = this.productos.filter(p => {
              return p.categoria === "Tablets";
            });
            return (this.prodPorCategoria = prod);
          default:
            break;
        }
      },
      deep: true
    }
  },
  methods: {
    agregarProductos() {
      function ArrayP(categoria, producto, prioridad, cantidad) {
        this.categoria = categoria;
        this.producto = producto;
        this.prioridad = prioridad;
        this.cantidad = cantidad;
      }
      const p = new ArrayP(
        this.categoria,
        this.producto,
        this.prioridadP,
        this.cantidadP
      );
      this.form3.produtosSeleccionados.push(p);
      this.categoria = "";
      this.producto = "";
      this.prioridadP = "";
      this.cantidadP = "";
    },
    quitarProducto(item) {
      const index = this.form3.produtosSeleccionados.indexOf(item);
      swal
        .fire({
          type: "warning",
          title: "¿Estás seguro(a) de retirar este producto de la lista?",
          confirmButtonText: "Si",
          confirmButtonColor: "teal",
          showCancelButton: true,
          cancelButtonText: "Cancelar",
          cancelButtonColor: "red"
        })
        .then(res => {
          if (res.value) {
            this.form3.produtosSeleccionados.splice(index, 1);
          }
        });
    },
    avanzar() {
      if (this.form3.produtosSeleccionados.length < 3) {
        swal.fire({
          type: "error",
          title: "Debes agregar mínimo tres productos a la lista",
          confirmButtonColor: "teal",
          confirmButtonText: "Entendido"
        });
      } else if (this.$v.form3.$invalid) {
        this.$v.form3.$touch();
      } else {
        swal.fire({
          type: "success",
          title: "Todos tus datos han sido ingresados de forma correcta",
          text: "Dentro de poco uno de nuestros asesores se comunicará contigo",
          confirmButtonText: "Entendido",
          confirmButtonColor: "teal"
        });
        this.$emit("reiniciar");
      }
    },
    retroceder() {
      this.$emit("retroceder")
    }
  },
  computed: {
    erroresCantidad() {
      let err = [];
      if (!this.$v.cantidadP.$dirty) {
        return err;
      } else if (!this.$v.cantidadP.numeric) {
        err.push("Solo se permiten números...");
      }
      return err;
    },
    erroresAgreement() {
      let err = [];
      if (!this.$v.form3.agreement.$dirty) {
        return err;
      } else if (!this.$v.form3.agreement.sameAs) {
        err.push(
          "Debes aceptar nuestros terminos y condiciones y politica de privacidad"
        );
      }
      return err;
    },
    erroresOrigen() {
      let err = [];
      if (!this.$v.form3.origen.$dirty) {
        return err;
      } else if (!this.$v.form3.origen.required) {
        err.push("Debes seleccionar alguna opción...");
      }
      return err;
    },
    erroresDescripcion() {
      let err = [];
      if (!this.$v.form3.descripcion.$dirty) {
        return err;
      } else if (!this.$v.form3.descripcion.required) {
        err.push("Este campo es requerido...");
      } else if (!this.$v.form3.descripcion.maxLength) {
        err.push("Máximo 120 caracteres...");
      }
      return err
    }
  }
};
</script>
<style>
.theme--light.v-data-table thead tr th {
  background-color: #e1bee7;
}
.v-application a {
  color: blue !important;
}
</style>
