<template>
  <v-app>
    <forms></forms>
  </v-app>
</template>

<script>
import forms from "./components/forms";

export default {
  name: "app",
  components: {
    forms
  }
};
</script>

<style>
#app {
  font-family: "Lato", sans-serif;
}
</style>
